@import "@/styles/variables.scss";



.devices_summary {
  padding: 5px;
  font-size: 15px;
}
.device_list {
  height: 300px;
  padding: 20px;
  border: #000 solid 5px;
  border-radius: 3px;
  font-size: 30px;
  flex: 1;
}
.device_item {
  border-bottom: 1px solid var(--weui-FG-3);
  padding: 5px;
  color: var(--weui-FG-HALF);
}
.device_item_hover {
  background-color: rgba(0, 0, 0, .1);
}
.page-body-info {
  padding: 20px;
  width: 80%;
}

