.weui-check__label {
  @include setTapColor();
  // &.weui-cell_readonly,
  // &.weui-cell_disabled {
  //   color: var(--weui-FG-3);
  // }

  &:active {
    background-color: #ECECEC;
  }
}

.weui-check {
  // opacity: 0;
  position: absolute;
  // width: 0;
  // height: 0;
  left: -9999em;
  // overflow: hidden;
  // &[disabled] + .weui-icon-checked {
  //   opacity: 0.1;
  // }
}
