// method2 accessbility
.weui-cells_radio {
  .weui-cell__ft {
    padding-left: $weuiCellInnerGapH;
    // font-size: 0;
  }
}
.weui-check {
  // radio
  .weui-cells_radio & {
    & + .weui-icon-checked {
      min-width: 16px;
      // color: transparent;
    }
    &:checked {
      & +.weui-icon-checked {
        &::before {
          display: block;
          content: '\EA08';
          color: #09BB07;
          font-size: 16px;
        }
      }
    }
    // &:checked,
    // &[aria-checked="true"] {
    //   & + .weui-icon-checked {
    //     color: $weuiColorPrimary;
    //     mask-image: url(data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M8.657%2018.435L3%2012.778l1.414-1.414%204.95%204.95L20.678%205l1.414%201.414-12.02%2012.021a1%201%200%2001-1.415%200z%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E);
    //   }
    // }
  }
}
