.weui-btn_default {
  color: $weuiBtnDefaultFontColor;
  background-color: $weuiBtnDefaultBg;
  &:not(.weui-btn_disabled):visited {
    color: $weuiBtnDefaultFontColor;
  }
  &:not(.weui-btn_disabled):active {
    color: $weuiBtnDefaultActiveFontColor;
    background-color: $weuiBtnDefaultActiveBg;
  }
}
