.weui-btn_cell {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  font-size: $weuiBtnFontSize;
  text-align: center;
  text-decoration: none;
  color: $weuiBtnFontColor;
  line-height: $weuiBtnCellLineHeight;
  padding: $weuiBtnCellGap;
  @include setTapColor();

  overflow: hidden;
  background-color: var(--weui-BG-5);
  & + & {
    margin-top: $weuiBtnDefaultGap;
  }
  &:active {
    background-color: $weuiBgColorActive;
  }
}
.weui-btn_cell__icon {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  margin: -0.2em 0.34em 0 0;
}
.weui-btn_cell-default {
  color: var(--weui-FG-0);
}
.weui-btn_cell-primary {
  color: $weuiLinkColorDefault;
}
.weui-btn_cell-warn {
  color: $weuiColorWarn;
}


