// .weui-btn_disabled,
// .weui-btn[disabled] {
//   color: var(--weui-FG-4);
//   background-color: var(--weui-BG-1);
// }
.weui-btn_disabled {
  color: $weuiBtnDisabledFontColor;
  &.weui-btn_default {
    color: $weuiBtnDefaultDisabledFontColor;
    background-color: $weuiBtnDefaultDisabledBg;
  }
  &.weui-btn_primary {
    background-color: $weuiBtnPrimaryDisabledBg;
  }
  &.weui-btn_warn {
    background-color: $weuiBtnwarnDisabledBg;
  }
}
