.taro_router {
  position: absolute;
  width: 100%;
  height: 100%;
}
.taro_page {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background: #fff;
  display: block;
}

.taro_page_show {
  display: block;
}

.taro_page_hide {
  display: none;
}
