button {
    position: relative;
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 14px;
    padding-right: 14px;
    box-sizing: border-box;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    line-height: 2.55555556;
    border-radius: 5px;
    -webkit-tap-highlight-color: transparent;
    overflow: hidden;
    color: #000000;
    background-color: #F8F8F8;
}

button[plain] {
    color: #353535;
    border: 1px solid #353535;
    background-color: transparent;
}

button[plain][disabled] {
    color: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: #F7F7F7;
}

button[type=primary] {
    color: #FFFFFF;
    background-color: #1AAD19;
}

button[type=primary][plain] {
    color: #1aad19;
    border: 1px solid #1aad19;
    background-color: transparent;
}

button[type=primary][plain][disabled] {
    color: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: #F7F7F7;
}
