.home {
  text-align: center;
  padding: 20px;
  .line {
    width: 100%;
    height: 1px;
    background-color: #fefefe;
  }

  navigator {
    margin: 20px 0;
    background: #f1f1f1;
    padding: 20px 0;
  }

  .navigator-hover {
    background: #f00;
  }
}
