.components-page__body {
  padding: 0;
  .example-body{
      text-align: center;
  }
}

.example-body__radios {
  position: relative;
  padding: 0px 15px;
  background-color: #FFFFFF;
  &::before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 1px;
    border-top: 1px solid #e5e5e5;
    color: #e5e5e5;
  }
  &::after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1px;
    border-top: 1px solid #e5e5e5;
    color: #e5e5e5;
  }
  &-item {
    position: relative;
    display: flex;
    padding: 20px 15px;
    &:not(:first-child) {
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        height: 1px;
        border-top: 1px solid #e5e5e5;
        color: #e5e5e5;
        left: 15px;
      }
    }
  }
}

.example-body__select-box {
  margin: 20px 0;
}