dist
lib
node_modules
*.d.ts
coverage/
packages/taroize/s.js
packages/taroize/t.js
packages/taro-with-weapp/t.js
packages/taro-transformer-wx/tt.js
packages/taro-transformer-wx/t.js
packages/taro-cli/src/jdreact/template/*.js
packages/taro-cli/templates
/packages/taro-components/loader
packages/taro-webpack-runner/__tests__/__snapshots__
packages/taro-webpack-runner/__tests__/fixtures
packages/taro-mini-runner/__tests__/__snapshots__
packages/taro-mini-runner/__tests__/fixtures
packages/taro-cli/__tests__/fixtures
