always-auth=false
allow-same-version=true
auto-install-peers=false
enable-pre-post-scripts=true
git-tag-version=false
link-workspace-packages=true
message="chore(release): publish %s"
public-hoist-pattern[]=@types/*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*jest*
public-hoist-pattern[]=*prettier*
registry="https://registry.yarnpkg.com/"
strict-peer-dependencies=true

{SCOPE}:registry=https://npm.pkg.github.com
