always-auth=false
auto-install-peers=true
link-workspace-packages=true
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
registry="https://registry.yarnpkg.com/"
strict-peer-dependencies=true

{SCOPE}:registry=https://npm.pkg.github.com
