always-auth=false
auto-install-peers=false
enable-pre-post-scripts=true
link-workspace-packages=true
public-hoist-pattern[]=@types/*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*jest*
public-hoist-pattern[]=*prettier*
registry="https://registry.yarnpkg.com/"
strict-peer-dependencies=true

{SCOPE}:registry=https://npm.pkg.github.com
