{
  "extends": [
    "stylelint-config-standard-scss"
  ],
  "plugins": ["stylelint-order"],
  "customSyntax": "postcss-scss",
  "rules": {
    "font-family-no-missing-generic-family-keyword": null,
    "function-url-quotes": null,
    "max-line-length": 150,
    "no-descending-specificity": null,
    "number-max-precision": 10,
    "scss/at-import-partial-extension": null,
    "scss/dollar-variable-pattern": "^[a-z][a-zA-Z0-9]+$",
    "selector-class-pattern": "^([a-z][a-z0-9]*)([-_][a-z0-9]+)*(__[a-z0-9]+)*$",
    "selector-pseudo-class-no-unknown": [
      true,
      {
        "ignorePseudoClasses": ["global"]
      }
    ],
    "order/properties-order": [
      "display",
      "visibility",
      "overflow",
      "overflow-x",
      "overflow-y",
      "float",
      "clear",
      "position",
      "left",
      "right",
      "top",
      "bottom",
      "z-index",
      "list-style",
      "list-style-type",
      "list-style-position",
      "list-style-image",
      "table-layout",
      "border-collapse",
      "border-spacing",
      "caption-side",
      "empty-cells",
      "flex-flow",
      "flex-direction",
      "flex-wrap",
      "justify-content",
      "align-content",
      "align-items",
      "align-self",
      "flex",
      "flex-grow",
      "flex-shrink",
      "flex-basis",
      "order",
      "columns",
      "column-width",
      "column-count",
      "column-gap",
      "column-rule",
      "column-rule-width",
      "column-rule-style",
      "column-rule-color",
      "column-span",
      "column-fill",
      "column-break-before",
      "column-break-after",
      "column-break-inside",
      "grid-columns",
      "grid-rows",
      "box-sizing",
      "margin",
      "margin-left",
      "margin-right",
      "margin-top",
      "margin-bottom",
      "padding",
      "padding-left",
      "padding-right",
      "padding-top",
      "padding-bottom",
      "border",
      "border-width",
      "border-style",
      "border-color",
      "border-colors",
      "border-left",
      "border-left-width",
      "border-left-style",
      "border-left-color",
      "border-left-colors",
      "border-right",
      "border-right-width",
      "border-right-style",
      "border-right-color",
      "border-right-colors",
      "border-top",
      "border-top-width",
      "border-top-style",
      "border-top-color",
      "border-top-colors",
      "border-bottom",
      "border-bottom-width",
      "border-bottom-style",
      "border-bottom-color",
      "border-bottom-colors",
      "border-radius",
      "border-top-left-radius",
      "border-top-right-radius",
      "border-bottom-left-radius",
      "border-bottom-right-radius",
      "border-image",
      "border-image-source",
      "border-image-slice",
      "border-image-width",
      "border-image-outset",
      "border-image-repeat",
      "width",
      "min-width",
      "max-width",
      "height",
      "min-height",
      "max-height",
      "appearance",
      "outline",
      "outline-width",
      "outline-style",
      "outline-color",
      "outline-offset",
      "outline-radius",
      "outline-radius-topleft",
      "outline-radius-topright",
      "outline-radius-bottomleft",
      "outline-radius-bottomright",
      "background",
      "background-color",
      "background-image",
      "background-repeat",
      "background-repeat-x",
      "background-repeat-y",
      "background-position",
      "background-position-x",
      "background-position-y",
      "background-size",
      "background-origin",
      "background-clip",
      "background-attachment",
      "bakground-composite",
      "background-blend-mode",
      "mask",
      "mask-mode",
      "mask-image",
      "mask-repeat",
      "mask-repeat-x",
      "mask-repeat-y",
      "mask-position",
      "mask-position-x",
      "mask-position-y",
      "mask-size",
      "mask-origin",
      "mask-clip",
      "mask-attachment",
      "mask-composite",
      "mask-box-image",
      "mask-box-image-source",
      "mask-box-image-width",
      "mask-box-image-outset",
      "mask-box-image-repeat",
      "mask-box-image-slice",
      "box-shadow",
      "box-reflect",
      "filter",
      "mix-blend-mode",
      "opacity",
      "object-fit",
      "clip",
      "clip-path",
      "resize",
      "zoom",
      "cursor",
      "pointer-events",
      "touch-callout",
      "user-modify",
      "user-focus",
      "user-input",
      "user-select",
      "user-drag",
      "line-height",
      "line-clamp",
      "vertical-align",
      "direction",
      "unicode-bidi",
      "writing-mode",
      "ime-mode",
      "text-overflow",
      "text-decoration",
      "text-decoration-line",
      "text-decoration-style",
      "text-decoration-color",
      "text-decoration-skip",
      "text-underline-position",
      "text-align",
      "text-align-last",
      "text-justify",
      "text-indent",
      "text-stroke",
      "text-stroke-width",
      "text-stroke-color",
      "text-shadow",
      "text-transform",
      "text-size-adjust",
      "src",
      "font",
      "font-family",
      "font-style",
      "font-stretch",
      "font-weight",
      "font-variant",
      "font-size",
      "font-size-adjust",
      "color",
      "overflow-wrap",
      "word-wrap",
      "word-break",
      "word-spacing",
      "letter-spacing",
      "white-space",
      "caret-color",
      "tab-size",
      "content",
      "counter-increment",
      "counter-reset",
      "quotes",
      "page",
      "page-break-before",
      "page-break-after",
      "page-break-inside",
      "will-change",
      "perspective",
      "perspective-origin",
      "backface-visibility",
      "transform",
      "transform-origin",
      "transform-style",
      "transition",
      "transition-property",
      "transition-duration",
      "transition-timing-function",
      "transition-delay",
      "animation",
      "animation-name",
      "animation-duration",
      "animation-timing-function",
      "animation-delay",
      "animation-iteration-count",
      "animation-direction",
      "animation-play-state",
      "animation-fill-mode"
    ],
    "no-empty-source": null
  }
}
