language: node_js
sudo: false

node_js:
  - "10"

cache:
  directories:
  - node_modules

script:
  - npm run build:docs

deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_TOKEN
  local-dir: docs/_book
  on:
    branch: master
