html, body {
  height: 100%;
}
#app {
  height: 100%;
}
.taro-tabbar {
  &__border {
    &-white {
      &::before {
        border-top-color: #fff !important;
      }
    }
  }
  &__panel {
    &-bottom {
      padding-bottom: 50px;
    }
    &-top {
      padding-top: 50px;
    }
  }
  &__tabbar {
    position: fixed;
    left: 0;
    right: 0;
    height: 50px;
    transition: bottom .2s, top .2s;
    &-top {
      top: 0;
    }
    &-bottom {
      bottom: 0;
    }
    &-hide {
      display: none;
    }
    &-slideout {
      top: -52px;
    }
  }

  &__panel + &__tabbar-slideout {
    top: auto;
    bottom: -52px;
  }
}
