.weui-list-tips {
  list-style: none;
  padding-top: 24px;
  padding-bottom: 24px;
  line-height: 1.4;
  font-size: 14px;
  color: var(--weui-FG-1);
  position: relative;
  &::before {
    content: '';
    @include setTopLine(var(--weui-FG-3));
  }
  &:last-child {
    padding-bottom: 0;
  }
}
.weui-list-tips__item {
  position: relative;
  padding-left: 15px;
  margin: 16px 0;
  &::before {
    content: '\2022';
    position: absolute;
    left: 0;
    top: -0.1em;
  }
  &:first-child {
    margin-top: 0;
  }
  .weui-form-preview__list + .weui-list-tips > & {
    &:first-child {
      margin-top: 6px;
    }
  }
}

