:root {
  --white: #fff;
  --primary-text: #212121;
  --secondary-text: #757575;
  --divider: #bdbdbd;
  --primary-color: #673ab7;
  --primary-dark: #512da8;
  --primary-light: #d1c4e9;
  --accent-color: #ff9800;
  --content-padding: 1.2rem;

  color: var(--primary-text);
  font-family: system-ui, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

body {
  margin: 0;
}

* {
  -webkit-tap-highlight-color: transparent;
}

.main-header {
  align-items: center;
  background: var(--primary-color);
  color: var(--white);
  contain: paint;
  display: grid;
  height: 54px;
  padding: 0 var(--content-padding);
}

.back-and-title {
  align-items: center;
  display: grid;
  gap: 0.3rem;
  grid-template-columns: 31px 1fr;
  color: inherit;
  text-decoration: none;
}

.content {
  padding: var(--content-padding);
}

.content-title {
  font-size: 1.6rem;
  font-weight: 600;
  margin: 0;
  max-width: 43ch;
}

.back-icon {
  display: block;
  fill: var(--white);
}

.gallery {
  display: grid;
  gap: var(--content-padding);
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  margin: 1rem 0;
  padding: 0;
}

.gallery > li {
  display: block;
  box-shadow: 0 5px 12px rgb(0 0 0 / 34%);
}

.gallery a {
  color: inherit;
  text-decoration: none;
}

.gallery img {
  display: block;
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}

.square-gallery {
  grid-template-columns: repeat(auto-fill,minmax(230px,1fr));
}

.square-gallery img {
  aspect-ratio: 1/1;
  object-fit: cover;
}

.gallery-item-title {
  padding: 1rem;
  display: block;
  text-align: center;
}

.banner-img img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 1170px;
}

.banner-img {
  display: block;
  background: var(--divider);
}

.content-alt {
  background: #d4bbff;
}

.body-grid {
  height: -webkit-fill-available;
}

.body-grid body {
  height: 100vh;
  height: -webkit-fill-available;
  display: grid;
  grid-template-rows: max-content 1fr;
}

@media (min-width: 530px) {
  .content-and-nav {
    display: grid;
    grid-template-columns: 1fr 180px;
  }
}

.main-nav {
  background: #d4bbff;
}

.main-nav ul {
  margin: 0;
  padding: 0;
}

.main-nav li {
  display: block;
}

.main-nav li a {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 0.7rem;
  padding: 1rem;
  color: #000;
  text-decoration: none;
}

.main-nav li a::before {
  content: '➡️';
}
