$CARE_LIGHT_BG_0: #EDEDED;
$CARE_LIGHT_BG_1: #F7F7F7;
$CARE_LIGHT_BG_2: #FFFFFF;
$CARE_LIGHT_BG_3: #F7F7F7;
$CARE_LIGHT_BG_4: #4C4C4C;
$CARE_LIGHT_BG_5: #FFFFFF;
$CARE_LIGHT_BLUE_100: #007DBB;
$CARE_LIGHT_BLUE_120: #3FBEFF;
$CARE_LIGHT_BLUE_170: #B7E6FF;
$CARE_LIGHT_BLUE_80: #0C8BCC;
$CARE_LIGHT_BLUE_90: #0E9CE6;
$CARE_LIGHT_BLUE_BG_100: #48A6E2;
$CARE_LIGHT_BLUE_BG_110: #5AAFE4;
$CARE_LIGHT_BLUE_BG_130: #7FC0EA;
$CARE_LIGHT_BLUE_BG_90: #4095CB;
$CARE_LIGHT_BRAND_100: #018942;
$CARE_LIGHT_BRAND_120: #38CD7F;
$CARE_LIGHT_BRAND_170: #B4ECCE;
$CARE_LIGHT_BRAND_80: #059A4C;
$CARE_LIGHT_BRAND_90: #06AE56;
$CARE_LIGHT_BRAND_BG_100: #2AAE67;
$CARE_LIGHT_BRAND_BG_110: #3EB575;
$CARE_LIGHT_BRAND_BG_130: #69C694;
$CARE_LIGHT_BRAND_BG_90: #259C5C;
$CARE_LIGHT_FG_0: #000000;
$CARE_LIGHT_FG_0_5: #000000;
$CARE_LIGHT_FG_1: rgba(0,0,0,0.6);
$CARE_LIGHT_FG_2: rgba(0,0,0,0.42);
$CARE_LIGHT_FG_3: rgba(0,0,0,0.1);
$CARE_LIGHT_FG_4: rgba(0,0,0,0.15);
$CARE_LIGHT_GLYPH_0: #000000;
$CARE_LIGHT_GLYPH_1: rgba(0,0,0,0.6);
$CARE_LIGHT_GLYPH_2: rgba(0,0,0,0.42);
$CARE_LIGHT_GLYPH_WHITE_0: rgba(255,255,255,0.85);
$CARE_LIGHT_GLYPH_WHITE_1: rgba(255,255,255,0.55);
$CARE_LIGHT_GLYPH_WHITE_2: rgba(255,255,255,0.35);
$CARE_LIGHT_GLYPH_WHITE_3: #FFFFFF;
$CARE_LIGHT_GREEN_100: #4F8400;
$CARE_LIGHT_GREEN_120: #A7DB33;
$CARE_LIGHT_GREEN_170: #DEF1B3;
$CARE_LIGHT_GREEN_80: #74A800;
$CARE_LIGHT_GREEN_90: #82BD00;
$CARE_LIGHT_GREEN_BG_100: #96BE40;
$CARE_LIGHT_GREEN_BG_110: #A0C452;
$CARE_LIGHT_GREEN_BG_130: #B5D179;
$CARE_LIGHT_GREEN_BG_90: #86AA39;
$CARE_LIGHT_INDIGO_100: #0075E2;
$CARE_LIGHT_INDIGO_120: #439DF1;
$CARE_LIGHT_INDIGO_170: #B8DAF9;
$CARE_LIGHT_INDIGO_80: #106ABE;
$CARE_LIGHT_INDIGO_90: #1277D6;
$CARE_LIGHT_INDIGO_BG_100: #2B77BF;
$CARE_LIGHT_INDIGO_BG_110: #3F84C5;
$CARE_LIGHT_INDIGO_BG_130: #6BA0D2;
$CARE_LIGHT_INDIGO_BG_90: #266AAB;
$CARE_LIGHT_LIGHTGREEN_100: #2E8800;
$CARE_LIGHT_LIGHTGREEN_120: #AAEF87;
$CARE_LIGHT_LIGHTGREEN_170: #DEF9D1;
$CARE_LIGHT_LIGHTGREEN_80: #77BC54;
$CARE_LIGHT_LIGHTGREEN_90: #85D35E;
$CARE_LIGHT_LIGHTGREEN_BG_100: #72CF60;
$CARE_LIGHT_LIGHTGREEN_BG_110: #80D370;
$CARE_LIGHT_LIGHTGREEN_BG_130: #9CDD90;
$CARE_LIGHT_LIGHTGREEN_BG_90: #66B956;
$CARE_LIGHT_LINK_100: #576B95;
$CARE_LIGHT_LINK_120: #7888AA;
$CARE_LIGHT_LINK_170: #CCD2DE;
$CARE_LIGHT_LINK_80: #455577;
$CARE_LIGHT_LINK_90: #4E6085;
$CARE_LIGHT_LINKFINDER_100: #002666;
$CARE_LIGHT_MATERIAL_ATTACHMENTCOLUMN: rgba(245,245,245,0.95);
$CARE_LIGHT_MATERIAL_NAVIGATIONBAR: rgba(237,237,237,0.94);
$CARE_LIGHT_MATERIAL_REGULAR: rgba(247,247,247,0.3);
$CARE_LIGHT_MATERIAL_THICK: rgba(247,247,247,0.8);
$CARE_LIGHT_MATERIAL_THIN: rgba(255,255,255,0.2);
$CARE_LIGHT_MATERIAL_TOOLBAR: rgba(246,246,246,0.82);
$CARE_LIGHT_ORANGE_100: #E17719;
$CARE_LIGHT_ORANGE_120: #FBB062;
$CARE_LIGHT_ORANGE_170: #FDE1C3;
$CARE_LIGHT_ORANGE_80: #C87D2F;
$CARE_LIGHT_ORANGE_90: #E08C34;
$CARE_LIGHT_ORANGE_BG_100: #EA7800;
$CARE_LIGHT_ORANGE_BG_110: #EC8519;
$CARE_LIGHT_ORANGE_BG_130: #F0A04D;
$CARE_LIGHT_ORANGE_BG_90: #D26B00;
$CARE_LIGHT_ORANGERED_100: #D14730;
$CARE_LIGHT_OVERLAY: rgba(0,0,0,0.5);
$CARE_LIGHT_OVERLAY_WHITE: rgba(242,242,242,0.8);
$CARE_LIGHT_PURPLE_100: #6265F1;
$CARE_LIGHT_PURPLE_120: #8385F3;
$CARE_LIGHT_PURPLE_170: #D0D1FA;
$CARE_LIGHT_PURPLE_80: #5052C0;
$CARE_LIGHT_PURPLE_90: #595CD7;
$CARE_LIGHT_PURPLE_BG_100: #6769BA;
$CARE_LIGHT_PURPLE_BG_110: #7678C1;
$CARE_LIGHT_PURPLE_BG_130: #9496CE;
$CARE_LIGHT_PURPLE_BG_90: #5C5EA7;
$CARE_LIGHT_RED_100: #DC3636;
$CARE_LIGHT_RED_120: #FB7373;
$CARE_LIGHT_RED_170: #FDCACA;
$CARE_LIGHT_RED_80: #C84040;
$CARE_LIGHT_RED_90: #E14949;
$CARE_LIGHT_RED_BG_100: #CF5148;
$CARE_LIGHT_RED_BG_110: #D3625A;
$CARE_LIGHT_RED_BG_130: #DD847E;
$CARE_LIGHT_RED_BG_90: #B94840;
$CARE_LIGHT_SECONDARY_BG: rgba(0,0,0,0.1);
$CARE_LIGHT_SEPARATOR_0: rgba(0,0,0,0.1);
$CARE_LIGHT_SEPARATOR_1: rgba(0,0,0,0.15);
$CARE_LIGHT_STATELAYER_HOVERED: rgba(0,0,0,0.02);
$CARE_LIGHT_STATELAYER_PRESSED: rgba(0,0,0,0.1);
$CARE_LIGHT_STATELAYER_PRESSEDSTRENGTHENED: rgba(0,0,0,0.2);
$CARE_LIGHT_YELLOW_100: #BB8E00;
$CARE_LIGHT_YELLOW_120: #FFCF33;
$CARE_LIGHT_YELLOW_170: #FFECB2;
$CARE_LIGHT_YELLOW_80: #CC9C00;
$CARE_LIGHT_YELLOW_90: #E6AF00;
$CARE_LIGHT_YELLOW_BG_100: #EFB600;
$CARE_LIGHT_YELLOW_BG_110: #F0BD19;
$CARE_LIGHT_YELLOW_BG_130: #F3CC4D;
$CARE_LIGHT_YELLOW_BG_90: #D7A400;
$CARE_LIGHT_FG_HALF: #000000;
$CARE_LIGHT_RED: #DC3636;
$CARE_LIGHT_ORANGERED: #D14730;
$CARE_LIGHT_ORANGE: #E17719;
$CARE_LIGHT_YELLOW: #BB8E00;
$CARE_LIGHT_GREEN: #4F8400;
$CARE_LIGHT_LIGHTGREEN: #2E8800;
$CARE_LIGHT_TEXTGREEN: #06AE56;
$CARE_LIGHT_BRAND: #018942;
$CARE_LIGHT_BLUE: #007DBB;
$CARE_LIGHT_INDIGO: #0075E2;
$CARE_LIGHT_PURPLE: #6265F1;
$CARE_LIGHT_LINK: #576B95;
$CARE_LIGHT_TAG_TEXT_ORANGE: #E17719;
$CARE_LIGHT_TAG_TEXT_GREEN: #06AE56;
$CARE_LIGHT_TAG_TEXT_BLUE: #007DBB;
$CARE_LIGHT_REDORANGE: #D14730;
$CARE_LIGHT_TAG_TEXT_BLACK: rgba(0,0,0,0.5);
$CARE_LIGHT_WHITE: #FFFFFF;
$CARE_LIGHT_BG: #FFFFFF;
$CARE_LIGHT_FG: #000;
$CARE_LIGHT_FG_5: rgba(0, 0, 0, 0.05);
$CARE_LIGHT_TAG_BACKGROUND_ORANGE: rgba(225, 119, 25, 0.1);
$CARE_LIGHT_TAG_BACKGROUND_GREEN: rgba(6, 174, 86, 0.1);
$CARE_LIGHT_TAG_TEXT_RED: rgba(250, 81, 81, 0.6);
$CARE_LIGHT_TAG_BACKGROUND_RED: rgba(250, 81, 81, 0.1);
$CARE_LIGHT_TAG_BACKGROUND_BLUE: rgba(0, 125, 187, 0.1);
$CARE_LIGHT_TAG_BACKGROUND_BLACK: rgba(0, 0, 0, 0.05);
