$DARK_BG_0: #111111;
$DARK_BG_1: #1E1E1E;
$DARK_BG_2: #191919;
$DARK_BG_3: #202020;
$DARK_BG_4: #404040;
$DARK_BG_5: #2C2C2C;
$DARK_BLUE_100: #10AEFF;
$DARK_BLUE_120: #0C8BCC;
$DARK_BLUE_170: #04344D;
$DARK_BLUE_80: #3FBEFF;
$DARK_BLUE_90: #28B6FF;
$DARK_BLUE_BG_100: #48A6E2;
$DARK_BLUE_BG_110: #4095CB;
$DARK_BLUE_BG_130: #32749E;
$DARK_BLUE_BG_90: #5AAFE4;
$DARK_BRAND_100: #07C160;
$DARK_BRAND_120: #059A4C;
$DARK_BRAND_170: #023A1C;
$DARK_BRAND_80: #38CD7F;
$DARK_BRAND_90: #20C770;
$DARK_BRAND_BG_100: #2AAE67;
$DARK_BRAND_BG_110: #259C5C;
$DARK_BRAND_BG_130: #1D7A48;
$DARK_BRAND_BG_90: #3EB575;
$DARK_FG_0: rgba(255,255,255,0.8);
$DARK_FG_0_5: rgba(255,255,255,0.6);
$DARK_FG_1: rgba(255,255,255,0.5);
$DARK_FG_2: rgba(255,255,255,0.3);
$DARK_FG_3: rgba(255,255,255,0.1);
$DARK_FG_4: rgba(255,255,255,0.15);
$DARK_GLYPH_0: rgba(255,255,255,0.8);
$DARK_GLYPH_1: rgba(255,255,255,0.5);
$DARK_GLYPH_2: rgba(255,255,255,0.3);
$DARK_GLYPH_WHITE_0: rgba(255,255,255,0.8);
$DARK_GLYPH_WHITE_1: rgba(255,255,255,0.5);
$DARK_GLYPH_WHITE_2: rgba(255,255,255,0.3);
$DARK_GLYPH_WHITE_3: #FFFFFF;
$DARK_GREEN_100: #74A800;
$DARK_GREEN_120: #5C8600;
$DARK_GREEN_170: #233200;
$DARK_GREEN_80: #8FB933;
$DARK_GREEN_90: #82B01A;
$DARK_GREEN_BG_100: #789833;
$DARK_GREEN_BG_110: #6B882D;
$DARK_GREEN_BG_130: #65802B;
$DARK_GREEN_BG_90: #85A247;
$DARK_INDIGO_100: #1196FF;
$DARK_INDIGO_120: #0D78CC;
$DARK_INDIGO_170: #052D4D;
$DARK_INDIGO_80: #40ABFF;
$DARK_INDIGO_90: #28A0FF;
$DARK_INDIGO_BG_100: #0D78CC;
$DARK_INDIGO_BG_110: #0B6BB7;
$DARK_INDIGO_BG_130: #09548F;
$DARK_INDIGO_BG_90: #2585D1;
$DARK_LIGHTGREEN_100: #3EB575;
$DARK_LIGHTGREEN_120: #31905D;
$DARK_LIGHTGREEN_170: #123522;
$DARK_LIGHTGREEN_80: #64C390;
$DARK_LIGHTGREEN_90: #51BC83;
$DARK_LIGHTGREEN_BG_100: #31905D;
$DARK_LIGHTGREEN_BG_110: #2C8153;
$DARK_LIGHTGREEN_BG_130: #226541;
$DARK_LIGHTGREEN_BG_90: #31905D;
$DARK_LINK_100: #7D90A9;
$DARK_LINK_120: #647387;
$DARK_LINK_170: #252A32;
$DARK_LINK_80: #97A6BA;
$DARK_LINK_90: #899AB1;
$DARK_LINKFINDER_100: #DEE9FF;
$DARK_MATERIAL_ATTACHMENTCOLUMN: rgba(32,32,32,0.93);
$DARK_MATERIAL_NAVIGATIONBAR: rgba(18,18,18,0.9);
$DARK_MATERIAL_REGULAR: rgba(37,37,37,0.6);
$DARK_MATERIAL_THICK: rgba(34,34,34,0.9);
$DARK_MATERIAL_THIN: rgba(95,95,95,0.4);
$DARK_MATERIAL_TOOLBAR: rgba(35,35,35,0.93);
$DARK_ORANGE_100: #C87D2F;
$DARK_ORANGE_120: #A06425;
$DARK_ORANGE_170: #3B250E;
$DARK_ORANGE_80: #D39758;
$DARK_ORANGE_90: #CD8943;
$DARK_ORANGE_BG_100: #BB6000;
$DARK_ORANGE_BG_110: #A85600;
$DARK_ORANGE_BG_130: #824300;
$DARK_ORANGE_BG_90: #C1701A;
$DARK_ORANGERED_100: #FF6146;
$DARK_OVERLAY: rgba(0,0,0,0.8);
$DARK_OVERLAY_WHITE: rgba(242,242,242,0.8);
$DARK_PURPLE_100: #8183FF;
$DARK_PURPLE_120: #6768CC;
$DARK_PURPLE_170: #26274C;
$DARK_PURPLE_80: #9A9BFF;
$DARK_PURPLE_90: #8D8FFF;
$DARK_PURPLE_BG_100: #6768CC;
$DARK_PURPLE_BG_110: #5C5DB7;
$DARK_PURPLE_BG_130: #48498F;
$DARK_PURPLE_BG_90: #7677D1;
$DARK_RED_100: #FA5151;
$DARK_RED_120: #C84040;
$DARK_RED_170: #4B1818;
$DARK_RED_80: #FB7373;
$DARK_RED_90: #FA6262;
$DARK_RED_BG_100: #CF5148;
$DARK_RED_BG_110: #BA4940;
$DARK_RED_BG_130: #913832;
$DARK_RED_BG_90: #D3625A;
$DARK_SECONDARY_BG: rgba(255,255,255,0.1);
$DARK_SEPARATOR_0: rgba(255,255,255,0.05);
$DARK_SEPARATOR_1: rgba(255,255,255,0.15);
$DARK_STATELAYER_HOVERED: rgba(0,0,0,0.02);
$DARK_STATELAYER_PRESSED: rgba(255,255,255,0.1);
$DARK_STATELAYER_PRESSEDSTRENGTHENED: rgba(255,255,255,0.2);
$DARK_YELLOW_100: #CC9C00;
$DARK_YELLOW_120: #A37C00;
$DARK_YELLOW_170: #3D2F00;
$DARK_YELLOW_80: #D6AF33;
$DARK_YELLOW_90: #D1A519;
$DARK_YELLOW_BG_100: #BF9100;
$DARK_YELLOW_BG_110: #AB8200;
$DARK_YELLOW_BG_130: #866500;
$DARK_YELLOW_BG_90: #C59C1A;
$DARK_FG_HALF: rgba(255,255,255,0.6);
$DARK_RED: #FA5151;
$DARK_ORANGERED: #FF6146;
$DARK_ORANGE: #C87D2F;
$DARK_YELLOW: #CC9C00;
$DARK_GREEN: #74A800;
$DARK_LIGHTGREEN: #3EB575;
$DARK_TEXTGREEN: #259C5C;
$DARK_BRAND: #07C160;
$DARK_BLUE: #10AEFF;
$DARK_INDIGO: #1196FF;
$DARK_PURPLE: #8183FF;
$DARK_LINK: #7D90A9;
$DARK_REDORANGE: #FF6146;
$DARK_TAG_TEXT_BLACK: rgba(255,255,255,0.5);
$DARK_TAG_BACKGROUND_BLACK: rgba(255,255,255,0.05);
$DARK_WHITE: rgba(255,255,255,0.8);
$DARK_FG: #fff;
$DARK_BG: #000;
$DARK_FG_5: rgba(255, 255, 255, 0.1);
$DARK_TAG_BACKGROUND_ORANGE: rgba(250, 157, 59, 0.1);
$DARK_TAG_BACKGROUND_GREEN: rgba(6, 174, 86, 0.1);
$DARK_TAG_TEXT_RED: rgba(250, 81, 81, 0.6);
$DARK_TAG_BACKGROUND_RED: rgba(250, 81, 81, 0.1);
$DARK_TAG_BACKGROUND_BLUE: rgba(16, 174, 255, 0.1);
$DARK_TAG_TEXT_ORANGE: rgba(250, 157, 59, 0.6);
$DARK_TAG_TEXT_GREEN: rgba(6, 174, 86, 0.6);
$DARK_TAG_TEXT_BLUE: rgba(16, 174, 255, 0.6);
