$LIGHT_BG_0: #EDEDED;
$LIGHT_BG_1: #F7F7F7;
$LIGHT_BG_2: #FFFFFF;
$LIGHT_BG_3: #F7F7F7;
$LIGHT_BG_4: #4C4C4C;
$LIGHT_BG_5: #FFFFFF;
$LIGHT_BLUE_100: #10AEFF;
$LIGHT_BLUE_120: #3FBEFF;
$LIGHT_BLUE_170: #B7E6FF;
$LIGHT_BLUE_80: #0C8BCC;
$LIGHT_BLUE_90: #0E9CE6;
$LIGHT_BLUE_BG_100: #48A6E2;
$LIGHT_BLUE_BG_110: #5AAFE4;
$LIGHT_BLUE_BG_130: #7FC0EA;
$LIGHT_BLUE_BG_90: #4095CB;
$LIGHT_BRAND_100: #07C160;
$LIGHT_BRAND_120: #38CD7F;
$LIGHT_BRAND_170: #B4ECCE;
$LIGHT_BRAND_80: #059A4C;
$LIGHT_BRAND_90: #06AE56;
$LIGHT_BRAND_BG_100: #2AAE67;
$LIGHT_BRAND_BG_110: #3EB575;
$LIGHT_BRAND_BG_130: #69C694;
$LIGHT_BRAND_BG_90: #259C5C;
$LIGHT_FG_0: rgba(0,0,0,0.9);
$LIGHT_FG_0_5: rgba(0,0,0,0.9);
$LIGHT_FG_1: rgba(0,0,0,0.55);
$LIGHT_FG_2: rgba(0,0,0,0.3);
$LIGHT_FG_3: rgba(0,0,0,0.1);
$LIGHT_FG_4: rgba(0,0,0,0.15);
$LIGHT_GLYPH_0: rgba(0,0,0,0.9);
$LIGHT_GLYPH_1: rgba(0,0,0,0.55);
$LIGHT_GLYPH_2: rgba(0,0,0,0.3);
$LIGHT_GLYPH_WHITE_0: rgba(255,255,255,0.8);
$LIGHT_GLYPH_WHITE_1: rgba(255,255,255,0.5);
$LIGHT_GLYPH_WHITE_2: rgba(255,255,255,0.3);
$LIGHT_GLYPH_WHITE_3: #FFFFFF;
$LIGHT_GREEN_100: #91D300;
$LIGHT_GREEN_120: #A7DB33;
$LIGHT_GREEN_170: #DEF1B3;
$LIGHT_GREEN_80: #74A800;
$LIGHT_GREEN_90: #82BD00;
$LIGHT_GREEN_BG_100: #96BE40;
$LIGHT_GREEN_BG_110: #A0C452;
$LIGHT_GREEN_BG_130: #B5D179;
$LIGHT_GREEN_BG_90: #86AA39;
$LIGHT_INDIGO_100: #1485EE;
$LIGHT_INDIGO_120: #439DF1;
$LIGHT_INDIGO_170: #B8DAF9;
$LIGHT_INDIGO_80: #106ABE;
$LIGHT_INDIGO_90: #1277D6;
$LIGHT_INDIGO_BG_100: #2B77BF;
$LIGHT_INDIGO_BG_110: #3F84C5;
$LIGHT_INDIGO_BG_130: #6BA0D2;
$LIGHT_INDIGO_BG_90: #266AAB;
$LIGHT_LIGHTGREEN_100: #95EC69;
$LIGHT_LIGHTGREEN_120: #AAEF87;
$LIGHT_LIGHTGREEN_170: #DEF9D1;
$LIGHT_LIGHTGREEN_80: #77BC54;
$LIGHT_LIGHTGREEN_90: #85D35E;
$LIGHT_LIGHTGREEN_BG_100: #72CF60;
$LIGHT_LIGHTGREEN_BG_110: #80D370;
$LIGHT_LIGHTGREEN_BG_130: #9CDD90;
$LIGHT_LIGHTGREEN_BG_90: #66B956;
$LIGHT_LINK_100: #576B95;
$LIGHT_LINK_120: #7888AA;
$LIGHT_LINK_170: #CCD2DE;
$LIGHT_LINK_80: #455577;
$LIGHT_LINK_90: #4E6085;
$LIGHT_LINKFINDER_100: #002666;
$LIGHT_MATERIAL_ATTACHMENTCOLUMN: rgba(245,245,245,0.95);
$LIGHT_MATERIAL_NAVIGATIONBAR: rgba(237,237,237,0.94);
$LIGHT_MATERIAL_REGULAR: rgba(247,247,247,0.3);
$LIGHT_MATERIAL_THICK: rgba(247,247,247,0.8);
$LIGHT_MATERIAL_THIN: rgba(255,255,255,0.2);
$LIGHT_MATERIAL_TOOLBAR: rgba(246,246,246,0.82);
$LIGHT_ORANGE_100: #FA9D3B;
$LIGHT_ORANGE_120: #FBB062;
$LIGHT_ORANGE_170: #FDE1C3;
$LIGHT_ORANGE_80: #C87D2F;
$LIGHT_ORANGE_90: #E08C34;
$LIGHT_ORANGE_BG_100: #EA7800;
$LIGHT_ORANGE_BG_110: #EC8519;
$LIGHT_ORANGE_BG_130: #F0A04D;
$LIGHT_ORANGE_BG_90: #D26B00;
$LIGHT_ORANGERED_100: #FF6146;
$LIGHT_OVERLAY: rgba(0,0,0,0.5);
$LIGHT_OVERLAY_WHITE: rgba(242,242,242,0.8);
$LIGHT_PURPLE_100: #6467F0;
$LIGHT_PURPLE_120: #8385F3;
$LIGHT_PURPLE_170: #D0D1FA;
$LIGHT_PURPLE_80: #5052C0;
$LIGHT_PURPLE_90: #595CD7;
$LIGHT_PURPLE_BG_100: #6769BA;
$LIGHT_PURPLE_BG_110: #7678C1;
$LIGHT_PURPLE_BG_130: #9496CE;
$LIGHT_PURPLE_BG_90: #5C5EA7;
$LIGHT_RED_100: #FA5151;
$LIGHT_RED_120: #FB7373;
$LIGHT_RED_170: #FDCACA;
$LIGHT_RED_80: #C84040;
$LIGHT_RED_90: #E14949;
$LIGHT_RED_BG_100: #CF5148;
$LIGHT_RED_BG_110: #D3625A;
$LIGHT_RED_BG_130: #DD847E;
$LIGHT_RED_BG_90: #B94840;
$LIGHT_SECONDARY_BG: rgba(0,0,0,0.05);
$LIGHT_SEPARATOR_0: rgba(0,0,0,0.1);
$LIGHT_SEPARATOR_1: rgba(0,0,0,0.15);
$LIGHT_STATELAYER_HOVERED: rgba(0,0,0,0.02);
$LIGHT_STATELAYER_PRESSED: rgba(0,0,0,0.1);
$LIGHT_STATELAYER_PRESSEDSTRENGTHENED: rgba(0,0,0,0.2);
$LIGHT_YELLOW_100: #FFC300;
$LIGHT_YELLOW_120: #FFCF33;
$LIGHT_YELLOW_170: #FFECB2;
$LIGHT_YELLOW_80: #CC9C00;
$LIGHT_YELLOW_90: #E6AF00;
$LIGHT_YELLOW_BG_100: #EFB600;
$LIGHT_YELLOW_BG_110: #F0BD19;
$LIGHT_YELLOW_BG_130: #F3CC4D;
$LIGHT_YELLOW_BG_90: #D7A400;
$LIGHT_FG_HALF: rgba(0,0,0,0.9);
$LIGHT_RED: #FA5151;
$LIGHT_ORANGERED: #FF6146;
$LIGHT_ORANGE: #FA9D3B;
$LIGHT_YELLOW: #FFC300;
$LIGHT_GREEN: #91D300;
$LIGHT_LIGHTGREEN: #95EC69;
$LIGHT_TEXTGREEN: #06AE56;
$LIGHT_BRAND: #07C160;
$LIGHT_BLUE: #10AEFF;
$LIGHT_INDIGO: #1485EE;
$LIGHT_PURPLE: #6467F0;
$LIGHT_LINK: #576B95;
$LIGHT_TAG_TEXT_ORANGE: #FA9D3B;
$LIGHT_TAG_TEXT_GREEN: #06AE56;
$LIGHT_TAG_TEXT_BLUE: #10AEFF;
$LIGHT_REDORANGE: #FF6146;
$LIGHT_TAG_TEXT_BLACK: rgba(0,0,0,0.5);
$LIGHT_TAG_BACKGROUND_BLACK: rgba(0,0,0,0.05);
$LIGHT_WHITE: #FFFFFF;
$LIGHT_BG: #FFFFFF;
$LIGHT_FG: #000;
$LIGHT_FG_5: rgba(0, 0, 0, 0.05);
$LIGHT_TAG_BACKGROUND_ORANGE: rgba(250, 157, 59, 0.1);
$LIGHT_TAG_BACKGROUND_GREEN: rgba(6, 174, 86, 0.1);
$LIGHT_TAG_TEXT_RED: rgba(250, 81, 81, 0.6);
$LIGHT_TAG_BACKGROUND_RED: rgba(250, 81, 81, 0.1);
$LIGHT_TAG_BACKGROUND_BLUE: rgba(16, 174, 255, 0.1);
