
:root {
  --ifm-font-family-base: "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji";
  --ifm-line-height-base: 2;
}

.main-wrapper header h1 {
  font-size: 2rem;
}
.markdown > h2 {
  --ifm-h2-font-size: 1.75rem;
}

.markdown > h3 {
  --ifm-h3-font-size: 1.375rem;
}

.menu__list-item .menu__list-item {
  font-weight: normal;
}

.navbar a.navbar__link[version=true] {
  text-decoration: underline;
}

.navbar {
  background-image: linear-gradient(180deg, #0000c2, #0000c2);
}

.html[data-theme="dark"] .navbar {
  background-image: linear-gradient(180deg, #0000c2, #0000c2)
}

.navbar a.navbar__link.navbar__link--active::after {
  border-bottom: 1px solid #5bc0eb;
  bottom: -10px;
  content: " ";
  /* left: 0;
  position: absolute;
  right: 0; */
  color: whitesmoke;
}

.header-github-link:hover {
  opacity: .6
}

.header-github-link:before {
  content: "";
  width: 24px;
  height: 24px;
  display: flex;
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23fff' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E") no-repeat
}


.navbar a.navbar__link {
  color: whitesmoke;
}

.navbar .navbar__title {
  color: whitesmoke;
  font-size: 1.25em;
}

.navbar a.navbar__link:hover, .navbar a.navbar__link--active {
  color: var(--ifm-navbar-link-hover-color);
}

h1.docTitle_node_modules-\@docusaurus-theme-classic-src-theme-DocItem- {
  font-size: 2.5rem;
}


footer.footer {
  padding: 0;
  margin-top: 50px;
}

.link {
  color: #5c5cff;
}

a, a:hover {
  color: #5c5cff;
}


.navItem {
  white-space: nowrap;
}

.grid_c1 {
  margin: 0 auto;
  max-width: 1190px;
  min-width: 180px;
}

.footer {
  position: relative;
  z-index: 10;
  height: 500px;
  border-top: 1px solid #cad3f1;
  border-top: 1px solid rgba(164, 164, 164, 0.2);
}

.footer_cont {
  position: relative;
  box-sizing: content-box;
  height: 350px;
  padding-top: 100px;
}

.footer .footer_logo_container {
  display: inline-block;
  box-sizing: border-box;
  width: 390px;
}

.footer .footer_logo {
  width: 117px;
  height: 49px;
  background-image: url(//img20.360buyimg.com/ling/jfs/t1/20876/36/12835/3043/5c9c2929Ed18cfb11/15b1c03ec830ab8e.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.footer .footer_designedby {
  position: absolute;
  top: 300px;
  left: 0;
  width: 154px;
  height: 12px;
  background-image: url(//img30.360buyimg.com/ling/jfs/t1/33012/13/70/7004/5c9c2591E9cfedc30/28f3020042757672.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.footer .footer_link_container {
  display: inline-block;
  box-sizing: border-box;
  width: 800px;
  vertical-align: top;
}

.footer .footer_link {
  display: inline-block;
  width: 190px;
  margin-left: 10px;
  vertical-align: top;
}

.footer .footer_link_tit {
  padding-bottom: 20px;
  font-size: 18px;
  line-height: 27px;
  color: #333;
  vertical-align: middle;
}

.footer .footer_link_tit:before {
  content: '';
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}

.footer .footer_link_tit1::before {
  width: 22px;
  height: 22px;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMjRweCIgaGVpZ2h0PSIyNHB4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8IS0tIEdlbmVyYXRvcjogU2tldGNoIDUxLjMgKDU3NTQ0KSAtIGh0dHA6Ly93d3cuYm9oZW1pYW5jb2RpbmcuY29tL3NrZXRjaCAtLT4KICAgIDx0aXRsZT5pY29uX21hdGVyaWFsPC90aXRsZT4KICAgIDxkZXNjPkNyZWF0ZWQgd2l0aCBTa2V0Y2guPC9kZXNjPgogICAgPGRlZnM+CiAgICAgICAgPGxpbmVhckdyYWRpZW50IHgxPSIxMDAlIiB5MT0iNTQuMDg2MTYyMSUiIHgyPSIwJSIgeTI9IjU0LjA4NjE2MjElIiBpZD0ibGluZWFyR3JhZGllbnQtMSI+CiAgICAgICAgICAgIDxzdG9wIHN0b3AtY29sb3I9IiMwMDI4QjQiIG9mZnNldD0iMCUiPjwvc3RvcD4KICAgICAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0iIzE1N0VGRiIgb2Zmc2V0PSIxMDAlIj48L3N0b3A+CiAgICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxnIGlkPSJpY29uX21hdGVyaWFsIiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj4KICAgICAgICA8cGF0aCBkPSJNOSwxOSBMMywxOSBDMS44OTU0MzA1LDE5IDEsMTguMTA0NTY5NSAxLDE3IEwxLDcgQzEsNS44OTU0MzA1IDEuODk1NDMwNSw1IDMsNSBMMywxNiBDMywxNi41NTIyODQ3IDMuNDQ3NzE1MjUsMTcgNCwxNyBMMjAsMTcgQzIwLjU1MjI4NDcsMTcgMjEsMTYuNTUyMjg0NyAyMSwxNiBMMjEsNSBDMjIuMTA0NTY5NSw1IDIzLDUuODk1NDMwNSAyMyw3IEwyMywxNyBDMjMsMTguMTA0NTY5NSAyMi4xMDQ1Njk1LDE5IDIxLDE5IEwxNSwxOSBDMTUsMjAuMTA0NTY5NSAxNC4xMDQ1Njk1LDIxIDEzLDIxIEwxMSwyMSBDOS44OTU0MzA1LDIxIDksMjAuMTA0NTY5NSA5LDE5IFogTTYsMyBMOSwzIEMxMC4xMDQ1Njk1LDMgMTEsMy44OTU0MzA1IDExLDUgTDExLDE0IEMxMSwxNC41NTIyODQ3IDEwLjU1MjI4NDcsMTUgMTAsMTUgTDYsMTUgQzUuNDQ3NzE1MjUsMTUgNSwxNC41NTIyODQ3IDUsMTQgTDUsNCBDNSwzLjQ0NzcxNTI1IDUuNDQ3NzE1MjUsMyA2LDMgWiBNMTUsMyBMMTgsMyBDMTguNTUyMjg0NywzIDE5LDMuNDQ3NzE1MjUgMTksNCBMMTksMTQgQzE5LDE0LjU1MjI4NDcgMTguNTUyMjg0NywxNSAxOCwxNSBMMTQsMTUgQzEzLjQ0NzcxNTMsMTUgMTMsMTQuNTUyMjg0NyAxMywxNCBMMTMsNSBDMTMsMy44OTU0MzA1IDEzLjg5NTQzMDUsMyAxNSwzIFoiIGlkPSJDb21iaW5lZC1TaGFwZSIgZmlsbD0idXJsKCNsaW5lYXJHcmFkaWVudC0xKSIgZmlsbC1ydWxlPSJub256ZXJvIj48L3BhdGg+CiAgICA8L2c+Cjwvc3ZnPg==) no-repeat 0 0;
  background-size: 22px 22px;
}

.footer .footer_link_tit2::before {
  width: 22px;
  height: 22px;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMjRweCIgaGVpZ2h0PSIyNHB4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8IS0tIEdlbmVyYXRvcjogU2tldGNoIDUxLjMgKDU3NTQ0KSAtIGh0dHA6Ly93d3cuYm9oZW1pYW5jb2RpbmcuY29tL3NrZXRjaCAtLT4KICAgIDx0aXRsZT5pY29uX2JiczwvdGl0bGU+CiAgICA8ZGVzYz5DcmVhdGVkIHdpdGggU2tldGNoLjwvZGVzYz4KICAgIDxkZWZzPgogICAgICAgIDxsaW5lYXJHcmFkaWVudCB4MT0iMTAwJSIgeTE9IjU0LjA4NjE2MjElIiB4Mj0iMCUiIHkyPSI1NC4wODYxNjIxJSIgaWQ9ImxpbmVhckdyYWRpZW50LTEiPgogICAgICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSIjMDAyOEI0IiBvZmZzZXQ9IjAlIj48L3N0b3A+CiAgICAgICAgICAgIDxzdG9wIHN0b3AtY29sb3I9IiMxNTdFRkYiIG9mZnNldD0iMTAwJSI+PC9zdG9wPgogICAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8ZyBpZD0iaWNvbl9iYnMiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPgogICAgICAgIDxwYXRoIGQ9Ik0xMy4zMDA4ODc1LDIwLjkwNjY3MzYgQzE0Ljk2MDcwNjIsMTkuNDk2MTA1OSAxNS44NTQ5OTYxLDE2Ljg2MDU0OCAxNS45ODM3NTcsMTMgTDEzLDEzIEwxMywyMC45NDUwNzEyIEMxMy4xMDA4MDcsMjAuOTMzOTI3NiAxMy4yMDExMTIyLDIwLjkyMTExOSAxMy4zMDA4ODc1LDIwLjkwNjY3MzYgWiBNMTYuMTQ5MzM4NCwxOS45ODg1MTc3IEMxOC43NTEyMDY1LDE4LjYzNDMxNDMgMjAuNjA4MzIzMiwxNi4wNDYyNjkzIDIwLjk0NTA3MTIsMTMgTDE3Ljk4Mzc0NTEsMTMgQzE3Ljg3ODk1MzIsMTYuMTM5NjEzMyAxNy4yNjc0ODQzLDE4LjQ2OTExOTIgMTYuMTQ5MzM4NCwxOS45ODg1MTc3IFogTTEzLjMwMDg4NzUsMy4wOTMzMjYzNyBDMTMuMjAxMTEyMiwzLjA3ODg4MDk5IDEzLjEwMDgwNywzLjA2NjA3MjQyIDEzLDMuMDU0OTI4NzggTDEzLDExIEwxNS45ODM3NTcsMTEgQzE1Ljg1NDk5NjEsNy4xMzk0NTE5OSAxNC45NjA3MDYyLDQuNTAzODk0MTIgMTMuMzAwODg3NSwzLjA5MzMyNjM3IFogTTE2LjE0OTMzODQsNC4wMTE0ODIzMSBDMTcuMjY3NDg0Myw1LjUzMDg4MDc5IDE3Ljg3ODk1MzIsNy44NjAzODY2OSAxNy45ODM3NDUxLDExIEwyMC45NDUwNzEyLDExIEMyMC42MDgzMjMyLDcuOTUzNzMwNzQgMTguNzUxMjA2NSw1LjM2NTY4NTc0IDE2LjE0OTMzODQsNC4wMTE0ODIzMSBaIE0xMC42OTkxMTI1LDIwLjkwNjY3MzYgQzEwLjc5ODg4NzgsMjAuOTIxMTE5IDEwLjg5OTE5MywyMC45MzM5Mjc2IDExLDIwLjk0NTA3MTIgTDExLDEzIEw4LjAxNjI0MzA1LDEzIEM4LjE0NTAwMzkzLDE2Ljg2MDU0OCA5LjAzOTI5Mzc2LDE5LjQ5NjEwNTkgMTAuNjk5MTEyNSwyMC45MDY2NzM2IFogTTcuODUwNjYxNjEsMTkuOTg4NTE3NyBDNi43MzI1MTU2NywxOC40NjkxMTkyIDYuMTIxMDQ2NzcsMTYuMTM5NjEzMyA2LjAxNjI1NDkzLDEzIEwzLjA1NDkyODc4LDEzIEMzLjM5MTY3Njc2LDE2LjA0NjI2OTMgNS4yNDg3OTM0NywxOC42MzQzMTQzIDcuODUwNjYxNjEsMTkuOTg4NTE3NyBaIE0xMC42OTkxMTI1LDMuMDkzMzI2MzcgQzkuMDM5MjkzNzYsNC41MDM4OTQxMiA4LjE0NTAwMzkzLDcuMTM5NDUxOTkgOC4wMTYyNDMwNSwxMSBMMTEsMTEgTDExLDMuMDU0OTI4NzggQzEwLjg5OTE5MywzLjA2NjA3MjQyIDEwLjc5ODg4NzgsMy4wNzg4ODA5OSAxMC42OTkxMTI1LDMuMDkzMzI2MzcgWiBNNy44NTA2NjE2MSw0LjAxMTQ4MjMxIEM1LjI0ODc5MzQ3LDUuMzY1Njg1NzQgMy4zOTE2NzY3Niw3Ljk1MzczMDc0IDMuMDU0OTI4NzgsMTEgTDYuMDE2MjU0OTMsMTEgQzYuMTIxMDQ2NzcsNy44NjAzODY2OSA2LjczMjUxNTY3LDUuNTMwODgwNzkgNy44NTA2NjE2MSw0LjAxMTQ4MjMxIFogTTEyLDIzIEM1LjkyNDg2Nzc1LDIzIDEsMTguMDc1MTMyMiAxLDEyIEMxLDUuOTI0ODY3NzUgNS45MjQ4Njc3NSwxIDEyLDEgQzE4LjA3NTEzMjIsMSAyMyw1LjkyNDg2Nzc1IDIzLDEyIEMyMywxOC4wNzUxMzIyIDE4LjA3NTEzMjIsMjMgMTIsMjMgWiIgaWQ9IkNvbWJpbmVkLVNoYXBlIiBmaWxsPSJ1cmwoI2xpbmVhckdyYWRpZW50LTEpIiBmaWxsLXJ1bGU9Im5vbnplcm8iPjwvcGF0aD4KICAgIDwvZz4KPC9zdmc+) no-repeat 0 0;
  background-size: 22px 22px;
}

.footer .footer_link_tit3::before {
  width: 22px;
  height: 22px;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMjRweCIgaGVpZ2h0PSIyNHB4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8IS0tIEdlbmVyYXRvcjogU2tldGNoIDUxLjMgKDU3NTQ0KSAtIGh0dHA6Ly93d3cuYm9oZW1pYW5jb2RpbmcuY29tL3NrZXRjaCAtLT4KICAgIDx0aXRsZT5pY29uX2Fib3V0PC90aXRsZT4KICAgIDxkZXNjPkNyZWF0ZWQgd2l0aCBTa2V0Y2guPC9kZXNjPgogICAgPGRlZnM+CiAgICAgICAgPGxpbmVhckdyYWRpZW50IHgxPSIxMDAlIiB5MT0iNTQuMDg2MTYyMSUiIHgyPSIwJSIgeTI9IjU0LjA4NjE2MjElIiBpZD0ibGluZWFyR3JhZGllbnQtMSI+CiAgICAgICAgICAgIDxzdG9wIHN0b3AtY29sb3I9IiMwMDI4QjQiIG9mZnNldD0iMCUiPjwvc3RvcD4KICAgICAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0iIzE1N0VGRiIgb2Zmc2V0PSIxMDAlIj48L3N0b3A+CiAgICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxnIGlkPSJpY29uX2Fib3V0IiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj4KICAgICAgICA8cGF0aCBkPSJNMiw0IEwyMiw0IEMyMy4xMDQ1Njk1LDQgMjQsNC44OTU0MzA1IDI0LDYgTDI0LDE4IEMyNCwxOS4xMDQ1Njk1IDIzLjEwNDU2OTUsMjAgMjIsMjAgTDIsMjAgQzAuODk1NDMwNSwyMCAxLjM1MjcwNzVlLTE2LDE5LjEwNDU2OTUgMCwxOCBMMCw2IEMtMS4zNTI3MDc1ZS0xNiw0Ljg5NTQzMDUgMC44OTU0MzA1LDQgMiw0IFogTTcuNSwxMiBDOC44ODA3MTE4NywxMiAxMCwxMC44ODA3MTE5IDEwLDkuNSBDMTAsOC4xMTkyODgxMyA4Ljg4MDcxMTg3LDcgNy41LDcgQzYuMTE5Mjg4MTMsNyA1LDguMTE5Mjg4MTMgNSw5LjUgQzUsMTAuODgwNzExOSA2LjExOTI4ODEzLDEyIDcuNSwxMiBaIE01LjUsMTMgQzQuMTE5Mjg4MTMsMTMgMywxNC4xMTkyODgxIDMsMTUuNSBMMywxNyBDMywxNy41NTIyODQ3IDMuNDQ3NzE1MjUsMTggNCwxOCBMMTEsMTggQzExLjU1MjI4NDcsMTggMTIsMTcuNTUyMjg0NyAxMiwxNyBMMTIsMTUuNSBDMTIsMTQuMTE5Mjg4MSAxMC44ODA3MTE5LDEzIDkuNSwxMyBMNS41LDEzIFogTTE0LDggQzEzLjQ0NzcxNTMsOCAxMyw4LjQ0NzcxNTI1IDEzLDkgTDEzLDEwIEMxMywxMC41NTIyODQ3IDEzLjQ0NzcxNTMsMTEgMTQsMTEgTDIwLDExIEMyMC41NTIyODQ3LDExIDIxLDEwLjU1MjI4NDcgMjEsMTAgTDIxLDkgQzIxLDguNDQ3NzE1MjUgMjAuNTUyMjg0Nyw4IDIwLDggTDE0LDggWiBNMTYsMTMgQzE1LjQ0NzcxNTMsMTMgMTUsMTMuNDQ3NzE1MyAxNSwxNCBMMTUsMTUgQzE1LDE1LjU1MjI4NDcgMTUuNDQ3NzE1MywxNiAxNiwxNiBMMjAsMTYgQzIwLjU1MjI4NDcsMTYgMjEsMTUuNTUyMjg0NyAyMSwxNSBMMjEsMTQgQzIxLDEzLjQ0NzcxNTMgMjAuNTUyMjg0NywxMyAyMCwxMyBMMTYsMTMgWiIgaWQ9IkNvbWJpbmVkLVNoYXBlIiBmaWxsPSJ1cmwoI2xpbmVhckdyYWRpZW50LTEpIiBmaWxsLXJ1bGU9Im5vbnplcm8iPjwvcGF0aD4KICAgIDwvZz4KPC9zdmc+) no-repeat 0 0;
  background-size: 22px 22px;
}

.footer .footer_link_tit4::before {
  width: 22px;
  height: 22px;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMjRweCIgaGVpZ2h0PSIyNHB4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8IS0tIEdlbmVyYXRvcjogU2tldGNoIDUxLjMgKDU3NTQ0KSAtIGh0dHA6Ly93d3cuYm9oZW1pYW5jb2RpbmcuY29tL3NrZXRjaCAtLT4KICAgIDx0aXRsZT5pY29uX3RoYW5rczwvdGl0bGU+CiAgICA8ZGVzYz5DcmVhdGVkIHdpdGggU2tldGNoLjwvZGVzYz4KICAgIDxkZWZzPgogICAgICAgIDxsaW5lYXJHcmFkaWVudCB4MT0iMTAwJSIgeTE9IjU0LjA4NjE2MjElIiB4Mj0iMCUiIHkyPSI1NC4wODYxNjIxJSIgaWQ9ImxpbmVhckdyYWRpZW50LTEiPgogICAgICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSIjMDAyOEI0IiBvZmZzZXQ9IjAlIj48L3N0b3A+CiAgICAgICAgICAgIDxzdG9wIHN0b3AtY29sb3I9IiMxNTdFRkYiIG9mZnNldD0iMTAwJSI+PC9zdG9wPgogICAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8ZyBpZD0iaWNvbl90aGFua3MiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPgogICAgICAgIDxwYXRoIGQ9Ik0xNy4yMzYxMDY1LDYgTDIxLDYgQzIyLjEwNDU2OTUsNiAyMyw2Ljg5NTQzMDUgMjMsOCBMMjMsOSBDMjMsOS41NTIyODQ3NSAyMi41NTIyODQ3LDEwIDIyLDEwIEwyLDEwIEMxLjQ0NzcxNTI1LDEwIDEsOS41NTIyODQ3NSAxLDkgTDEsOCBDMSw2Ljg5NTQzMDUgMS44OTU0MzA1LDYgMyw2IEw2Ljc2Mzg5MzQ5LDYgQzYuMjg4ODUzNTcsNS40NjkyNDM1MSA2LDQuNzY4MzU0NDQgNiw0IEM2LDIuMzQzMTQ1NzUgNy4zNDMxNDU3NSwxIDksMSBDMTAuNjU2ODU0MiwxIDEyLDIuMzQzMTQ1NzUgMTIsNCBDMTIsMi4zNDMxNDU3NSAxMy4zNDMxNDU4LDEgMTUsMSBDMTYuNjU2ODU0MiwxIDE4LDIuMzQzMTQ1NzUgMTgsNCBDMTgsNC43NjgzNTQ0NCAxNy43MTExNDY0LDUuNDY5MjQzNTEgMTcuMjM2MTA2NSw2IFogTTkuNSwzIEM4LjY3MTU3Mjg4LDMgOCwzLjY3MTU3Mjg4IDgsNC41IEM4LDUuMzI4NDI3MTIgOC42NzE1NzI4OCw2IDkuNSw2IEwxMSw2IEwxMSw0LjUgQzExLDMuNjcxNTcyODggMTAuMzI4NDI3MSwzIDkuNSwzIFogTTE0LjUsMyBDMTMuNjcxNTcyOSwzIDEzLDMuNjcxNTcyODggMTMsNC41IEwxMyw2IEwxNC41LDYgQzE1LjMyODQyNzEsNiAxNiw1LjMyODQyNzEyIDE2LDQuNSBDMTYsMy42NzE1NzI4OCAxNS4zMjg0MjcxLDMgMTQuNSwzIFogTTMsMTIgTDExLDEyIEwxMSwyMiBMNCwyMiBDMi44OTU0MzA1LDIyIDIsMjEuMTA0NTY5NSAyLDIwIEwyLDEzIEMyLDEyLjQ0NzcxNTMgMi40NDc3MTUyNSwxMiAzLDEyIFogTTEzLDEyIEwyMSwxMiBDMjEuNTUyMjg0NywxMiAyMiwxMi40NDc3MTUzIDIyLDEzIEwyMiwyMCBDMjIsMjEuMTA0NTY5NSAyMS4xMDQ1Njk1LDIyIDIwLDIyIEwxMywyMiBMMTMsMTIgWiIgaWQ9IkNvbWJpbmVkLVNoYXBlIiBmaWxsPSJ1cmwoI2xpbmVhckdyYWRpZW50LTEpIiBmaWxsLXJ1bGU9Im5vbnplcm8iPjwvcGF0aD4KICAgIDwvZz4KPC9zdmc+) no-repeat 0 0;
  background-size: 22px 22px;
}

.footer_link_connect {
  color: #666;
}

.footer .footer_link a,
.footer_link_wechat {
  color: #666;
}

.wechat_qrcode_icon,
.footer_link_wechat .wechat_qrcode_icon {
  display: inline-block;
  margin-left: 5px;
  width: 18px;
  height: 18px;
}

.inline-svg-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: relative;
  top: 2px;
  margin-right: 2px;
}

.footer_link a:hover,
.footer_link_wechat:hover {
  opacity: 0.6;
}

.footer_link_wechat_img {
  position: absolute;
  top: -80px;
  left: 50px;
  width: 200px;
  display: none;
}

.footer_link_wechat_img.inline {
  left: 100px;
}

@media (max-width: 996px) {
  .navbar .navbar__toggle {
    display: inherit;
    color: #fff;
  }
  .navbar .navbar-sidebar__brand {
    background-image: linear-gradient(180deg, #0000c2, #0000c2);
  }
  .grid_c1,
  .footer_link_container,
  .footer .footer_logo_container {
    width: 100%;
    max-width: 100%;
  }
  footer.footer,
  .footer_cont {
    height: auto;
    padding-top: 0;
  }
  .footer_cont {
    padding-top: 2rem;
  }
  .footer .footer_logo_container {
    width: 50%;
    margin-left: 10px;
  }
  .footer .footer_designedby {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin: 1rem 0;
  }
  .footer .footer_link {
    width: 45%;
  }
}

.docusaurus-highlight-code-line {
  background-color: #eee;
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

/* If you have a different syntax highlighting theme for dark mode. */
html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91); /* Color which works with dark mode syntax highlighting theme */
}

.footer_link_wechat_img img {
  width: 100%;
}

.footer_link_connect_wrap {
  position: relative;
  cursor: pointer;
}

.footer_link_connect_wrap:hover .footer_link_wechat_img {
  display: block;
}

.footer .footer_link p {
  font-size: 14px;
  margin-bottom: 8px;
}

.copyright {
  height: 50px;
  font-size: 14px;
  color: #9aa9e1;
  color: rgba(255, 255, 255, 0.6);
  background: #0000C2;
  text-align: center;
}

.copyright .in {
  line-height: 50px;
}

.svgicon {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  fill: currentcolor;
  overflow: hidden;
}

.hljs {
  display: block;
  overflow-x: auto;
}

.edit-page-link:hover, .docs-prevnext .button:hover {
  opacity: 0.6;
  color: #5c5cff;
  border-color: #5c5cff;
  background-color: white;
}

@media only screen and (min-width: 1024px) {
  .navigationSlider {
    flex: 1;
    margin-left: 155px;
  }

  .siteNavGroupActive a:after {
    content: '';
    position: absolute;
    bottom: -21px;
    left: 50%;
    z-index: 0;
    width: 75%;
    height: 2px;
    transform: translateX(-50%);
    background: linear-gradient(to right, #00B2BD, #2CEB85);
  }

  .navigationSlider .slidingNav ul li {
    position: relative;
    text-align: center;
  }

  .navigationSlider .slidingNav ul li:nth-child(4) {
    justify-content: flex-start;
    flex-grow: 1;
  }

  .navigationSlider .slidingNav ul li:nth-child(-n+3) {
    justify-content: flex-start;
    flex-grow: 0;
  }

  .navigationSlider .slidingNav ul li:nth-child(n+5) {
    justify-content: flex-end;
    flex-grow: 0;
  }

  input#search_input_react {
    color: black;
    background-color: white;
    width: 200px;
  }

  input#search_input_react:focus {
    color: black;
    background-color: white;
    width: 250px;
  }
}

#back-to-top{
  opacity: 0.6;
}

/* 案例页面的样式 */

.app_nav {
  margin-top: 50px;
  margin-bottom: 50px;
  height: 35px;
  border-bottom: 1px solid #0000C2;
  position: sticky;
  top: 0px;
  left: 100px;
  background: #fff;
  line-height: 35px;
}
.app_nav a {
  display: inline-block;
  padding: 0 10px;
  font-size: 18px;
  color: #000;
}
.app_nav a:hover {
  text-decoration: none;
  color: #0000c2;
}

.app_nav a span {
  padding-left: 5px;
}

.app h2 {
  margin-bottom: 30px;
}

.app table {
  margin-bottom: 80px;
}

html .top_tip a {
  display: inline-block;
  padding: 0 10px;
  line-height: 22px;
  align-items: center;
  background: var(--docsearch-key-gradient);
  border-radius: 3px;
  box-shadow: var(--docsearch-key-shadow);
  height: 22px;
  justify-content: center;
  margin-right: .4em;
  padding-bottom: 2px;
  position: relative;
  top: -1px;
  width: auto;
  text-decoration: none;
}
html[data-theme="dark"] .top_tip a {
color: var(--docsearch-muted-color);
}
