@charset "UTF-8";
// 轮播图
.swiper {
  position: relative;
  overflow: hidden;

  &_wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
  }

  &_item {
    float: left;
    img {
      width: 100%;
      height: auto;
    }
  }
}

// 轮播点
.swiper_indicators {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  &_item {
    margin: 0 2.5px;
    width: 7px;
    height: 7px;
    border-radius: 7px;
    background-color: rgba($color: #999999, $alpha: .2);
    &.active {
      background-color: rgba($color: #999999, $alpha: .5);
    }
  }
}
