@import '~swiper/swiper-bundle.min.css';

taro-swiper-core {
  display: block;
  height: 150px;

  .swiper {
    &-container {
      height: 100%;
      position: relative;
      overflow: visible;
      margin-top: var(--swiper-container-mt);
      margin-bottom: var(--swiper-container-mb);
      margin-left: var(--swiper-container-ml);
      margin-right: var(--swiper-container-mr);
    }

    &-pagination {
      font-size: 0;
    }
  }
}
