.taro-img {
  display: inline-block;
  overflow: hidden;
  position: relative;
  font-size: 0;
  width: 320px;
  height: 240px;
  &.taro-img__widthfix {
    height: 100%;
  }
  &__mode {
    &-scaletofill {
      width: 100%;
      height: 100%;
    }
    &-aspectfit {
      max-width: 100%;
      max-height: 100%;
    }
    &-aspectfill {
      min-width: 100%;
      height: 100%;
    }
    &-widthfix {
      width: 100%;
    }
    &-top {
      width: 100%;
    }
    &-bottom {
      width: 100%;
      position: absolute;
      bottom: 0;
    }
    &-left {
      height: 100%;
    }
    &-right {
      position: absolute;
      height: 100%;
      right: 0;
    }
    &-topleft {
    }
    &-topright {
      position: absolute;
      right: 0;
    }
    &-bottomleft {
      position: absolute;
      bottom: 0;
    }
    &-bottomright {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
}
