.flip-swiper-wrap{
    width: 600px;
    height: 600px;
    // background-color: pink;
}
.flip-img {
    width: 100%;
    height: 100%;
  
}
.flip-wrap {
    display: flex;
    height: 800px;
    align-items: center;
    justify-content: center;
    background-color: #eee;
}
.flip-item {
    background-color: yellow;
}