.overlay_black {
  background: #0d0d0d;
}

.overlay_white {
  background: #f4f4f4;
}
.customStyle {
  background: #8065df;
}

.gridStyle {
  width: 100%;
}

.grid-aligned-title{
  font-size: 16px;
  color: #999999;
  padding-left: 15px;
  margin-bottom: 80px;
}
.grid-masonry-title{
  font-size: 16px;
  color: #999999;
  padding-left: 15px;

}
