.taro-picker-view-column-container {
  display: flex;
  overflow: scroll;
  overflow-x: hidden;
  position: relative;
  flex-direction: column;
  flex: 1;
  text-align: center;
}

.taro-picker-view-column-container::-webkit-scrollbar {
  display: none;
}
