.root{
  display: flex;
  flex-direction: column;
}

.title{
  font-size: 60px;

  &-light{
    color: black;
  }
  &-dark{
    color: orange;
  }
}

.info{
  background-color: aqua;
  display: flex;
  flex-direction: column;
}