// Light 模式颜色变量
$weuiLineColorLight: #e5e5e5;
$weuiColorPrimary: #FF0F23;
$weuiTextColorGray: #999;
$weuiTextColorDesc: #888;
$weuiTextColorBlack: #000;
$weuiBackgroundColorLight: #fff;
$weuiMaskColorLight: rgba(0, 0, 0, 0.6);

// Dark 模式颜色变量
$weuiLineColorDark: rgba(255, 255, 255, 0.06);
$weuiColorPrimaryDark: #ff0f23;
$weuiTextColorGrayDark: #999999;
$weuiTextColorDescDark: #818181;
$weuiTextColorBlackDark: #e6e6e6;
$weuiBackgroundColorDark: #1f1f1f;
$weuiMaskColorDark: rgba(20, 20, 20, 0.7);

// Picker 相关变量
$weuiPickerZIndexContainer: 1000;  // picker容器层级
$weuiPickerZIndexMask: 1001;       // 遮罩层级
$weuiPickerZIndexIndicator: 1002;  // 选中指示器层级

// Picker 尺寸
$weuiPickerHeaderHeight: 44px;     // 头部高度
$weuiPickerItemHeight: 34px;       // 选项高度
$weuiPickerContentHeight: 238px;   // 内容区高度
$weuiPickerColumnGap: 8px; // 列间距

// 动画
$weuiPickerTransitionDuration: 0.3s;  // 过渡动画时长
