@import './variable';
@import './onepx';

$pickerItemHeight: 34px;

.weui-picker {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 5000;
  box-sizing: border-box;
  padding-left: 0;
  padding-left: constant(safe-area-inset-left);
  padding-left: env(safe-area-inset-left);
  padding-right: 0;
  padding-right: constant(safe-area-inset-right);
  padding-right: env(safe-area-inset-right);
  width: 100%;
  background-color: #fff;
  backface-visibility: hidden;
  transform: translate(0, 100%);
  transition: transform 0.3s;
}

.weui-picker__overlay {
  position: fixed;
  inset: 0;
  z-index: 5000;
  pointer-events: auto;
}

.weui-picker__hd {
  display: flex;
  position: relative;
  padding: 9px 15px;
  background-color: #fff;
  text-align: center;
  font-size: 17px;

  &::after {
    @include set-bottom-line($weuiLineColorLight);
  }
}

.weui-picker__action {
  display: block;
  flex: 1;
  color: $weuiColorPrimary;

  &:first-child {
      text-align: left;
      color: #888;
  }

  &:last-child {
    text-align: right;
  }
}

.weui-picker__bd {
  display: flex;
  overflow: hidden;
  position: relative;
  height: 238px;
  background-color: #fff;
}

.weui-picker__group {
  overflow: visible;
  position: relative;
  flex: 1;
  height: 100%;
}

.weui-picker__mask {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, hsl(0deg 0% 100% / 95%), hsl(0deg 0% 100% / 60%)), linear-gradient(0deg, hsl(0deg 0% 100% / 95%), hsl(0deg 0% 100% / 60%));
  background-repeat: no-repeat;
  background-position: top, bottom;
  background-size: 100% 102px;
  pointer-events: none;
  transform: translateZ(0);
}

.weui-picker__indicator {
  position: absolute;
  left: 0;
  top: 102px;
  z-index: 3;
  width: 100%;
  height: $pickerItemHeight;

  &::before {
    @include set-top-line($weuiLineColorLight);
  }

  &::after {
    @include set-bottom-line($weuiLineColorLight);
  }
}

.weui-picker__content {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 238px;
  min-height: 238px;
  pointer-events: auto;
}

.weui-picker__item {
  overflow: hidden;
  padding: 0;
  height: 34px;
  line-height: 34px;
  text-overflow: ellipsis;
  text-align: center;
  font-size: 18px;
  color: #000;
  white-space: nowrap;
}

.weui-picker__item--selected {
  font-weight: bold;
  color: #07c160;
}

.weui-picker__item--disabled {
  color: $weuiTextColorGray;
}

.weui-mask {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 4000;
  width: 100%;
  height: 100%;
  background: rgb(0 0 0 / 60%);
} 