@import "@/styles/variables.scss";

.api-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.api-page-btn {
  color: #f5f5f5;
  margin: 20px 50%;
  padding: 15px 25px;
  border-radius: 16px;
  background-color: $color-success;
}
