.taro-app-wrap {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  line-height: 1.6;
  font-family: $weuiFontDefault;
  margin: 0;
  padding: 0;
  & * {
    margin: 0;
    padding: 0;
  }
  & a {
    text-decoration: none;
    @include setTapColor();
  }
  & a img {
    border: 0;
  }

  & input {
    display: block;
    overflow: hidden;
    height: 1.4rem;
    text-overflow: clip;
    text-align: inherit;
    white-space: nowrap;
  }
}