@import "./weui-tabbar";
@import "./weui-navbar";

.weui-tab {
  position: relative; // flex;
  height: 100%;
  // box-sizing: border-box;
  // flex-direction: column;
}

.weui-tab__panel {
  box-sizing: border-box;
  // flex: 1;
  height: 100%;
  padding-bottom: 50px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.weui-tab__content {
  display: none;
}
