.flex-wrp {
  margin-top: 60px;
  display: flex;
}
.flex-item {
  width: 200px;
  height: 300px;
  font-size: 26px;
}
.flex-item-V {
  margin: 0 auto;
  width: 300px;
  height: 200px;
}

.page-section-title {
  text-align: center;
}
