//@import '@tarojs/components-mpharmony/dist/style/components/page-container';


.overlay_black {
  background: #0d0d0d;
}

.overlay_white {
  background: #f4f4f4;
}
.customStyle {
  background: #8065df;
}



.gridStyle {
  width: 1000px;
}

.buttonStyle {
  width: 200px;
  margin-top: 380px;
}
