.taro-scroll {
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    display: none;
  }
}
.taro-scroll-view {
  overflow: hidden;
  &__scroll-x {
    overflow-x: scroll;
    overflow-y: hidden;
  }
  &__scroll-y {
    overflow-x: hidden;
    overflow-y: scroll;
  }
}
.scroll-header-view {
  width: 100%;
  top: 0px;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  font-size: 16px;
  position: absolute;
}
.scroll-footer-view {
  bottom: 0px;
  width: 100%;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  position: absolute;
}
.scroll-header-text {
  margin-left: 20px;
  color: #999999
}