taro-scroll-view-core {
  display: block;
  width: 100%;
  -webkit-overflow-scrolling: touch;
}

.taro-scroll-view {
  &__scroll-x {
    overflow-x: scroll;
    overflow-y: hidden;
  }

  &__scroll-y {
    overflow-x: hidden;
    overflow-y: scroll;
  }
}

.taro-scroll--hidebar {
  &::-webkit-scrollbar {
    display: none;
  }
}
