.taro-scroll {
  -webkit-overflow-scrolling: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}
.taro-scroll-view {
  overflow: hidden;
  &__scroll-x {
    overflow-x: scroll;
    overflow-y: hidden;
  }
  &__scroll-y {
    overflow-x: hidden;
    overflow-y: scroll;
  }
}
