/*
* Licensed to the O2Team under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*   http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing,
* software distributed under the License is distributed on an
* "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
* KIND, either express or implied.  See the License for the
* specific language governing permissions and limitations
* under the License.
*/

.rmc-pull-to-refresh-content {
  transform-origin: left top 0px;
}
.rmc-pull-to-refresh-content-wrapper {
  overflow: hidden;
}

.rmc-pull-to-refresh-transition {
  transition: transform 0.3s;
}


@keyframes rmc-pull-to-refresh-indicator {
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

.rmc-pull-to-refresh-indicator {
  text-align: center;
  height: 30px;
  line-height: 10px;
}

.rmc-pull-to-refresh-indicator > div {
  background-color: grey;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  margin: 3px;
  animation-fill-mode: both;
  display: inline-block;
  animation: rmc-pull-to-refresh-indicator 0.5s 0s infinite linear;
}
.rmc-pull-to-refresh-indicator > div:nth-child(0) {
  animation-delay: -0.1s !important;
}
.rmc-pull-to-refresh-indicator > div:nth-child(1) {
  animation-delay: -0.2s !important;
}
.rmc-pull-to-refresh-indicator > div:nth-child(2) {
  animation-delay: -0.3s !important;
}
.rmc-pull-to-refresh-down .rmc-pull-to-refresh-indicator {
  margin-top: -25px;
}
