.index {
  font-size: 20px;
}
.ui-color {
  &--info {
    color: $color-ui-info;
  }
  &--positive {
    color: $color-ui-positive;
  }
  &--negative {
    color: $color-ui-negative;
  }
  &--warning {
    color: $color-ui-warning;
  }
}
