@import "../../../../styles/variables.scss";

.btn {
  margin-bottom: 40px;
}
.page-sub-title {
  text-align: center;
  margin-bottom: 80px;
}
.page-sub-title_text {
  text-align: center;
  color: #888888;
}