@import "@/styles/variables.scss";

.button-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.api-page-btn-area {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.api-input-area {
    width: 90%;
    height: 200px;
    min-height: 200px;
    border: $color-grey-0 solid 2px;
    border-radius: 5px;
    resize: none;
}

.taro-textarea {
    resize: none;
}

textarea {
    resize: none;
}

.api-page-btn {
    color: $color-grey-6;
    white-space: nowrap;
    display: flex;
    margin: 20px 50%;
    padding: 15px 25px;
    border-radius: 40px;
    box-shadow: 5px 5px 5px 2px $color-grey-1, 0 0 0 0 $color-grey-1 inset;
    background-color: $color-success;
    transition: 0.3s;
}

.api-page-btn:active {
    color: $color-success;
    background-color: $color-grey-6;
    box-shadow: 0 0 0 0 $color-grey-1, 5px 5px 5px 2px $color-grey-1 inset;
}
