@import "@/styles/variables.scss";

.test-style {
    color: #f5f5f5;
    background-color: $color-success;
}
.canvas {
    width: 305px;
    height: 280px;
    background-color: #f7f7f7;
}
.canvas-main {
    position: fixed;
    display: flex;
    justify-content: center;
    left:0;
    width: 100%;
    background: #fff;
    z-index: 100;
    margin-bottom: 20px;
}
.hide{
    display: none;
}
.show{
    display: block;
}

