div {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

button {
  height: 98px;
  font-size: 36px;
}

.type-default {
  background-color: #f8f8f8;
  text-color: #000;
  border: 1px solid #eee;
}

.type-primary {
  background-color: #1aad19;
  text-color: #fff;
}

.type-warn {
  background-color: #e64340;
  text-color: #fff;
}

.type-warn-plain {
  background-color: transparent;
  border: 1px solid #e64340;
  text-color: #e64340;
}

.type-default-plain {
  background-color: transparent;
  border: 1px solid #353535;
  text-color: #353535;
}

.type-primary-plain {
  background-color: transparent;
  border: 1px solid #1aad19;
  text-color: #1aad19;
}

.disbaled {
  text-color: hsla(0,0%,100%,.6);
}

.type-default-disabled {
  background-color: #f7f7f7;
  text-color: rgba(0,0,0,.3);
  border: 1px solid #eee;
}

.type-primary-disabled {
  background-color: #9ed99d;
}

.type-warn-disabled {
  background-color: #ec8b89;
}

.type-default-plain-disabled {
  border-color: rgba(0,0,0,.2);
  text-color: rgba(0,0,0,.2);
}

.type-primary-plain-disabled {
  border-color: rgba(0,0,0,.2);
  text-color: rgba(0,0,0,.2);
}

.type-warn-plain-disabled {
  border-color: rgba(0,0,0,.2);
  text-color: rgba(0,0,0,.2);
}

.type-default-loading {
  background-color: #dedede;
  color: rgba(0,0,0,.6);
}

.type-warn-loading {
  background-color: #ce3c39;
  color: hsla(0,0%,100%,.6);
}

.type-primary-loading {
  background-color: #179b16;
  color: hsla(0,0%,100%,.6);
}

.size-default {
  width: 100%;
}

.size-mini {
  width: 200px;
  height: 72px;
  font-size: 26px;
}

.button-hover {
  background-color: #dedede;
  text-color: rgba(0,0,0,.6);
  transition: all linear 0.2s;
}
