.coverflow-swiper-wrap{
    width: 600px;
    height: 600px;
    // background-color: pink;
}
.coverflow-img {
    width: 100%;
    height: 100%;
  
}
.coverflow-wrap {
    display: flex;
    height: 800px;
    align-items: center;
    justify-content: center;
    background-color: #eee;
}
.coverflow-item {
    // border-radius: 10px;
    background-color: yellow;
}