@import '../styles/variables.scss';

.api-page {
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.api-page-btn {
    color: #f5f5f5;
    display: flex;
    margin: 20px 50%;
    padding: 15px 25px;
    border-radius: 16px;
    background-color: $color-success;
}

.tag {
    display: inline-block;
    text-align: center;
    width: 120px;
    padding: 5px 5px;
    border: 1px solid red;
    border-radius: 5px;
    color: red;
    font-size: 20px;
    margin: 5px;
}