@import '@/styles/variables.scss';

.api-page {
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.test-style {
    color: #f5f5f5;
    background-color: $color-success;
}

.tag {
    display: inline-block;
    text-align: center;
    width: 120px;
    padding: 5px 5px;
    border: 1px solid red;
    border-radius: 5px;
    color: red;
    font-size: 20px;
    margin: 5px;
}

.navigator {
    padding: 20px 30px;
    position: relative;
    display: flex;
    align-items: center;
    transition: 0.3s;
  }

.navigator:active {
    background-color: $color-grey-5;
    opacity: 0.2;
}