/* 
  Default Styles for HTML4 (W3C spec):
  https://www.w3.org/TR/CSS2/sample.html
*/

.taro_html .html,
.taro_html .address,
.taro_html .blockquote,
.taro_html .body,
.taro_html .dd,
.taro_html .div,
.taro_html .dl,
.taro_html .dt,
.taro_html .fieldset,
.taro_html .form,
.taro_html .frame,
.taro_html .frameset,
.taro_html .h1,
.taro_html .h2,
.taro_html .h3,
.taro_html .h4,
.taro_html .h5,
.taro_html .h6,
.taro_html .noframes,
.taro_html .ol,
.taro_html .p,
.taro_html .ul,
.taro_html .center,
.taro_html .dir,
.taro_html .hr,
.taro_html .menu,
.taro_html .pre {
  display: block;
  unicode-bidi: embed;
}
.taro_html .li {
  display: list-item;
}
.taro_html .head {
  display: none;
}
.taro_html .table {
  display: table;
}
.taro_html .tr {
  display: table-row;
}
.taro_html .thead {
  display: table-header-group;
}
.taro_html .tbody {
  display: table-row-group;
}
.taro_html .tfoot {
  display: table-footer-group;
}
.taro_html .col {
  display: table-column;
}
.taro_html .colgroup {
  display: table-column-group;
}
.taro_html .td,
.taro_html .th {
  display: table-cell;
}
.taro_html .caption {
  display: table-caption;
}
.taro_html .th {
  font-weight: bolder;
  text-align: center;
}
.taro_html .caption {
  text-align: center;
}
.taro_html .body {
  margin: 8px;
}
.taro_html .h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
.taro_html .h2 {
  font-size: 1.5em;
  margin: 0.75em 0;
}
.taro_html .h3 {
  font-size: 1.17em;
  margin: 0.83em 0;
}
.taro_html .h4,
.taro_html .p,
.taro_html .blockquote,
.taro_html .ul,
.taro_html .fieldset,
.taro_html .form,
.taro_html .ol,
.taro_html .dl,
.taro_html .dir,
.taro_html .menu {
  margin: 1.12em 0;
}
.taro_html .h5 {
  font-size: 0.83em;
  margin: 1.5em 0;
}
.taro_html .h6 {
  font-size: 0.75em;
  margin: 1.67em 0;
}
.taro_html .h1,
.taro_html .h2,
.taro_html .h3,
.taro_html .h4,
.taro_html .h5,
.taro_html .h6,
.taro_html .b,
.taro_html .strong {
  font-weight: bolder;
}
.taro_html .blockquote {
  margin-left: 40px;
  margin-right: 40px;
}
.taro_html .i,
.taro_html .cite,
.taro_html .em,
.taro_html .var,
.taro_html .address {
  font-style: italic;
}
.taro_html .pre,
.taro_html .tt,
.taro_html .code,
.taro_html .kbd,
.taro_html .samp {
  font-family: monospace;
}
.taro_html .pre {
  white-space: pre;
}
.taro_html .button,
.taro_html .textarea,
.taro_html .input,
.taro_html .select {
  display: inline-block;
}
.taro_html .big {
  font-size: 1.17em;
}
.taro_html .small,
.taro_html .sub,
.taro_html .sup {
  font-size: 0.83em;
}
.taro_html .sub {
  vertical-align: sub;
}
.taro_html .sup {
  vertical-align: super;
}
.taro_html .table {
  border-spacing: 2px;
}
.taro_html .thead,
.taro_html .tbody,
.taro_html .tfoot {
  vertical-align: middle;
}
.taro_html .td,
.taro_html .th,
.taro_html .tr {
  vertical-align: inherit;
}
.taro_html .s,
.taro_html .strike,
.taro_html .del {
  text-decoration: line-through;
}
.taro_html .hr {
  border: 1px inset;
}
.taro_html .ol,
.taro_html .ul,
.taro_html .dir,
.taro_html .menu,
.taro_html .dd {
  margin-left: 40px;
}
.taro_html .ol {
  list-style-type: decimal;
}
.taro_html .ol .ul,
.taro_html .ul .ol,
.taro_html .ul .ul,
.taro_html .ol .ol {
  margin-top: 0;
  margin-bottom: 0;
}
.taro_html .u,
.taro_html .ins {
  text-decoration: underline;
}
.taro_html .br:before {
  content: "\A";
  white-space: pre-line;
}
.taro_html .center {
  text-align: center;
}
