taro-textarea-core {
  display: block;
  width: 300px;
}

taro-textarea-core .auto-height {
  height: auto;
}

.taro-textarea {
  &:focus {
    outline: none;
  }

  display: block;
  position: relative;
  border: 0;
  width: 100%;
  height: 150px;
  appearance: none;
  cursor: auto;
  line-height: 1.5;
}
