taro-textarea-core {
  display: block;
  width: 300px;
}

taro-textarea-core .auto-height {
  height: auto;
}

.taro-textarea {
  &:focus {
    outline: none;
  }
  -webkit-appearance: none;
  cursor: auto;
  width: 100%;
  height: 150px;
  border: 0;
  display: block;
  position: relative;
  line-height: 12px;
}
