// font
$weuiFontEN: -apple-system-font, "Helvetica Neue"; // system-ui, -apple-system, "Helvetica Neue";
$weuiFontCN: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei";
$weuiFontSans: sans-serif;
$weuiFontDefault: $weuiFontEN, $weuiFontSans;
