$weuiGalleryOprHeight: 60px;

.weui-gallery {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000; // 固定色值
  z-index: 1000;
}
.weui-gallery__img,
.weui-gallery__opr {
  position: absolute;
  top: 0;
  left: 0;
  left: constant(safe-area-inset-left);
  left: env(safe-area-inset-left);
  right: 0;
  right: constant(safe-area-inset-right);
  right: env(safe-area-inset-right);
  bottom: $weuiGalleryOprHeight;
  background: center center no-repeat;
  background-size: contain;
}
// .weui-gallery__img {
//   top: 0;
//   top: constant(safe-area-inset-top);
//   top: env(safe-area-inset-top);
//   bottom: $weuiGalleryOprHeight;
//   bottom: calc($weuiGalleryOprHeight + constant(safe-area-inset-bottom));
//   bottom: calc($weuiGalleryOprHeight + env(safe-area-inset-bottom));
//   width: 100%;
//   background: center center no-repeat;
//   background-size: contain;
// }
.weui-gallery__opr {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #0d0d0d;  // 固定色值
  color: #FFFFFF; // var(--weui-WHITE);
  line-height: $weuiGalleryOprHeight;
  text-align: center;
}
.weui-gallery__del {
  display: block;
  // padding-bottom: 0;
  // padding-bottom: constant(safe-area-inset-bottom);
  // padding-bottom: env(safe-area-inset-bottom);
  // &:active {
  //   opacity: 0.5;
  // }
}
