@import "@/styles/variables.scss";

.test-style {
    color: #f5f5f5;
    background-color: $color-success;
}

.test-view {
    background-color: $color-brand-light;
}

.scroll-view {
    height: 300px;
    background: #fff;
    border: 1px solid #000;
    box-sizing: border-box;
}

.scroll-area {
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: 0.5s;
}

.ball {
    width: 200px;
    height: 200px;
    background: #00f;
    border-radius: 50%;
}

.notice {
    margin-top: 100px;
}

.filling {
    height: 400px;
}
