view,
text,
image,
button,
video,
map,
scroll-view,
swiper,
input,
textarea,
navigator {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: stretch;
  box-sizing: border-box;
  background-origin: border-box;
}

navigator text,
text text,
text navigator {
  display: inline;
}

image {
  align-self: flex-start;
}

.page-scroll-view {
  flex: 1;
  overflow: auto;
}
