.taro-checkbox {
  position: relative;
  display: inline-block;
  &_checked {
    display: inline-block;
    min-height: 0;
    -webkit-appearance: none;
    appearance: none;
    outline: 0;
    font-size: 23px;
    border: 1px solid #d1d1d1;
    background-color: #ffffff;
    border-radius: 3px;
    color: #1AAD19;
    width: 23px;
    height: 23px;
    position: relative;
    vertical-align: 0;
    top: 5px;
    &:checked::before {
      font-family: "weui";
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      text-align: center;
      speak: none;
      display: inline-block;
      vertical-align: middle;
      text-decoration: inherit;
      content: "\EA08";
      color: inherit;
      font-size: inherit;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -48%) scale(0.73);
    }
  }
}
