.navbar {
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  height: 44vp;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 44vp;
  align-items: center;
}
.navbar__route {
  margin-right: 40vp;
  width: 60vp;
  height: 100%;
  background-size: 44px;
  background-repeat: no-repeat;
  background-position: center;
}
.navbar__route--show {
  background-image: url('http://storage.360buyimg.com/cjj-pub-images/icon_left_arrow.png');
}
.navbar__title {
  flex: 1;
  text-align: center;
  font-size: 14vp;
  font-weight: bold;
}
.navbar__options {
  display: flex;
  align-items: center;
  margin: 8vp;
  width: 84vp;
  border: 1px solid #e8e8ed;
  border-radius: 17vp;
}
.navbar__options--more {
  flex: 1;
  height: 100%;
  background-image: url('http://storage.360buyimg.com/cjj-pub-images/icon-mp-more.png');
  background-size: 36px;
  background-repeat: no-repeat;
  background-position: center;
}
.navbar__options--divider {
  width: 1px;
  height: 16vp;
  background-color: #e8e8ed;
}
.navbar__options--close {
  flex: 1;
  height: 100%;
  background-image: url('http://storage.360buyimg.com/cjj-pub-images/icon-mp-close.png');
  background-size: 36px;
  background-repeat: no-repeat;
  background-position: center;
}
