@charset "UTF-8";

.taro-video {
  // width: 300px;
  width: 100%;
  height: 225px;
  display: inline-block;
  line-height: 0;
  overflow: hidden;
  position: relative
}

.taro-video[hidden] {
  display: none
}

.taro-video-container {
  width: 100%;
  height: 100%;
  background-color: #000;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  object-position: inherit
}

.taro-video-container.taro-video-type-fullscreen {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  z-index: 999
}

.taro-video-container.taro-video-type-fullscreen.taro-video-type-rotate-left {
  -webkit-transform: translate(-50%,-50%) rotate(-90deg);
  transform: translate(-50%,-50%) rotate(-90deg)
}

.taro-video-container.taro-video-type-fullscreen.taro-video-type-rotate-right {
  -webkit-transform: translate(-50%,-50%) rotate(90deg);
  transform: translate(-50%,-50%) rotate(90deg)
}

.taro-video-video {
  width: 100%;
  height: 100%;
  object-position: inherit
}

.taro-video-cover {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  background-color: rgba(1,1,1,.5);
  z-index: 1
}

.taro-video-cover-play-button {
  width: 40px;
  height: 40px;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 50% 50%
}

.taro-video-cover-duration {
  color: #fff;
  font-size: 16px;
  line-height: 1;
  margin-top: 10px
}

.taro-video-bar {
  visibility: hidden;
  height: 44px;
  background-color: rgba(0,0,0,.5);
  overflow: hidden;
  position: absolute;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 0 10px;
  z-index: 0
}

.taro-video-bar.taro-video-bar-full {
  left: 0
}

.taro-video-controls {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  margin: 0 8.5px
}

.taro-video-control-button {
  width: 13px;
  height: 15px;
  padding: 14.5px 12.5px 14.5px 12.5px;
  margin-left: -8.5px;
  box-sizing: content-box
}

.taro-video-control-button:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-size: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat
}

.taro-video-control-button.taro-video-control-button-play:after,.taro-video-cover-play-button {
  background-image: url("../images/play.png")
}

.taro-video-control-button.taro-video-control-button-pause:after {
  background-image: url("../images/pause.png")
}

.taro-video-current-time,.taro-video-duration {
  height: 14.5px;
  line-height: 14.5px;
  margin-top: 15px;
  margin-bottom: 14.5px;
  font-size: 12px;
  color: #cbcbcb
}

.taro-video-progress-container {
  -webkit-box-flex: 2;
  -webkit-flex-grow: 2;
  flex-grow: 2;
  position: relative
}

.taro-video-progress {
  height: 2px;
  margin: 21px 12px;
  background-color: hsla(0,0%,100%,.4);
  position: relative
}

.taro-video-progress-buffered {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  -webkit-transition: width .1s;
  transition: width .1s;
  background-color: hsla(0,0%,100%,.8)
}

.taro-video-ball {
  width: 16px;
  height: 16px;
  padding: 14px;
  position: absolute;
  top: -21px;
  box-sizing: content-box;
  left: 0;
  margin-left: -22px
}

.taro-video-inner {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 50%
}

.taro-video-danmu-button {
  white-space: nowrap;
  line-height: 1;
  padding: 2px 10px;
  border: 1px solid #fff;
  border-radius: 5px;
  font-size: 13px;
  color: #fff;
  margin: 0 8.5px
}

.taro-video-danmu-button.taro-video-danmu-button-active {
  border-color: #48c23d;
  color: #48c23d
}

.taro-video-fullscreen,
.taro-video-mute {
  width: 17px;
  height: 17px;
  padding: 8.5px;
  box-sizing: content-box;
  background-size: 50%;
  background-position: 50% 50%;
  background-repeat: no-repeat
}
.taro-video-fullscreen {
  background-image: url("../images/full.png");
}

.taro-video-fullscreen.taro-video-type-fullscreen {
  background-image: url("../images/shrink.png")
}

.taro-video-mute {
  background-image: url("../images/unmute.png");
}

.taro-video-mute.taro-video-type-mute {
  background-image: url("../images/mute.png")
}

.taro-video-danmu {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-top: 14px;
  margin-bottom: 44px;
  font-size: 14px;
  line-height: 14px;
  overflow: visible
}

.taro-video-danmu-item {
  line-height: 1;
  position: absolute;
  color: #fff;
  white-space: nowrap;
  left: 100%;
  -webkit-transform: translatex(0);
  transform: translatex(0);
  -webkit-transition-property: left,-webkit-transform;
  transition-property: left,-webkit-transform;
  transition-property: left,transform;
  transition-property: left,transform,-webkit-transform;
  -webkit-transition-duration: 3s;
  transition-duration: 3s;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear
}

.taro-video-toast {
  pointer-events: none;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  border-radius: 5px;
  background-color: hsla(0,0%,100%,.8);
  color: #000;
  display: block;
  visibility: hidden;
}

.taro-video-toast.taro-video-toast-volume {
  width: 100px;
  height: 100px;
  display: block
}

.taro-video-toast-volume .taro-video-toast-title {
  width: 100%;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  margin-top: 10px;
  display: block
}

.taro-video-toast-volume .taro-video-toast-icon {
  fill: #000;
  width: 50%;
  height: 50%;
  margin-left: 25%;
  display: block;
  background-image: url('../images/volume.png');
  background-size: 50%;
  background-position: 50% 50%;
  background-repeat: no-repeat
}

.taro-video-toast-volume .taro-video-toast-value {
  width: 80px;
  height: 5px;
  margin-top: 5px;
  margin-left: 10px
}

.taro-video-toast-volume .taro-video-toast-value>.taro-video-toast-value-content {
  overflow: hidden
}

.taro-video-toast-volume-grids {
  width: 80px;
  height: 5px
}

.taro-video-toast-volume-grids-item {
  float: left;
  width: 7.1px;
  height: 5px;
  background-color: #000
}

.taro-video-toast-volume-grids-item:not(:first-child) {
  margin-left: 1px
}

.taro-video-toast.taro-video-toast-progress {
  background-color: rgba(0,0,0,.8);
  color: #fff;
  font-size: 14px;
  line-height: 18px;
  padding: 6px
}